
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XuanPanlShiTu</title>

    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_blue.min.css" rel="stylesheet" />


    <style>
        .container {
            background: #f0edf1;
            width: 100%;
        }

        .reset-padding {
            padding: 0 5px;
        }

        .reset {
            padding-left: 2px;
            padding-right: 2px;
        }

        label.Size {
            font-size: 60px;
        }

        label {
            font-weight: normal;
        }
    </style>

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="form-group">

                        <span class="h4"><b>选择录入盘点报告</b></span>
                        <div class="pull-right">
                            <button class="form-control btn-sm btn btn-info" id="Colse"><span class="glyphicon glyphicon-remove">关闭</span></button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-body" style="background:#f0edf1;">

                    <div class="col-lg-4">
                            <div class="row" style="margin-top:20px;">
                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-3">
                                        <label class="control-label reset">盘点编号:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="Remter" class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top:10px;">
                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-3">
                                        <label class="control-label reset">盘点日期:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="date" id="PablData" class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top:10px;">
                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-3">
                                        <label class="control-label reset" style="margin-left:20px;">部门:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control" id="DrugType"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top:10px;">
                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-3">
                                        <label class="control-label reset">库存地点:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control" id="StockPlaceID"></select>
                                    </div>
                                   
                                </div>
                            </div>


                            <div class="row" style="border: 3px solid #d8cddc; margin-left:120px;margin-top:20px;">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <input type="radio" name="PanDiana" value="盘点" checked /><label class="PanDiana">标准盘点</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="PanDiana" value="局部盘点" /><label class="PanDiana">局部盘点</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="border: 3px solid #d8cddc; margin-left:120px;margin-top:30px;">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <input type="radio" name="CommodityType" value="盘点" checked /><label class="PanDiana">自营商品盘点</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="radio" name="CommodityType" value="局部盘点" /><label class="PanDiana">联营商品盘点</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="CommodityType" value="局部盘点" /><label class="PanDiana">租赁商品盘点</label>
                                    </div>
                                </div>
                            </div>
                      
                        <div class="row" style="margin-top:30px;">
                            <div class="form-group">
                                <div class="col-md-3 col-lg-offset-3">
                                    <button class="btn btn-info" type="button" id="ChaXun"><span class="glyphicon glyphicon-search">查 询</span></button>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-warning" type="button" id="QuXiao"><span class="glyphicon glyphicon-remove">取 消</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-1"></div>

                    <div class="col-lg-7" style="background:#fff">
                        <div class="row" style="margin-top:20px;margin-left:10px;overflow:auto;width:100%;height:390px;">
                            <table id="ShangPin">
                                <tr>
                                    <th w_num="total_line" width="10%">序号</th>

                                    <th w_index="CheckRermeberID" w_hidden="true">盘点计划ID</th>
                                    <th w_index="Remember">编号</th>
                                    <th w_index="PablData">盘点日期</th>
                                    <th w_index="CommodityType">类型</th>
                                    <th w_index="StockPlaceName">库存地点</th>
                                    <th w_index="ExamineName">执行人</th>
                                    <th w_index="ExamineTime">执行时间</th>

                                </tr>
                            </table>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2 col-lg-offset-4">
                                    <button class="btn btn-info" type="button" id="OkTwo"><span class="glyphicon glyphicon-ok">选 择</span></button>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-info" type="button" id="QuXiaoTwo"><span class="glyphicon glyphicon-remove">取 消</span></button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div><!--大row-->



    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script><!--bootstrap-->
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-1.11.2.min.js"></script><!--bootstrap-->
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script><!--bootstrap-->
    <script src="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script src="~/Content/layer/layer.js"></script>


    <script>
        var ShangPinId;
        var CheckRermeberId;
        $(document).ready(function () {
            //主界面商品
            ShangPin = $.fn.bsgrid.init('ShangPin', {
                url: '/PanDianShuYiChuLi/GoodsWeiHu/SelectCheckgh',
                autoLoad: false,
                stripeRows: true,
                rowHoverColor: true,
                pageSize: 8,
                pageSizeSelect: false,
                pagingLittleToolbar: true,
                pagingToolbarAlign: "left",
            });
            ShangPin.search();

            //库存地点部门
            $.post("/PanDianShuYiChuLi/PanDianPanl/KuCunDiDian", function (data) {
                selectLoadData("StockPlaceID", data);
            });

            //部门
            $.post("/PanDianShuYiChuLi/GoodsWeiHu/PanlBuMen", function (data) {
                selectLoadData("DrugType", data);
            });

        });

        //查询
        ShangPinId = $.fn.bsgrid.init('ShangPin', {
            url: '/PanDianShuYiChuLi/GoodsWeiHu/TiaoSelectCheckgh',
            autoLoad: false,
            stripeRows: true,
            rowHoverColor: true,
            pageSize: 8,
            pageSizeSelect: false,
            pagingLittleToolbar: true,
            pagingToolbarAlign: "left",
        });
        $("#ChaXun").click(function () {
            var StockPlaceID = $("#StockPlaceID").val();
            var Remter = $("#Remter").val();
            ShangPinId.search({ StockPlaceID: StockPlaceID, Remter: Remter });

        });

        $("#QuXiao").click(function () {
            document.location.href = "/PanDianShuYiChuLi/GoodsWeiHu/XuanPanlShiTu";
        });

        //点击关闭
        $("#Colse").click(function () {
            $('body').remove();
        });
        
        $("#OkTwo").click(function () {
            var rowIndex = ShangPin.getSelectedRowIndex();//获取选中的行  注：修改模态窗 一定要加 <intpt id=OrderFormID ,hihe>
            if (rowIndex > -1) {
                CheckRermeberId = ShangPin.getColumnValue(rowIndex, "CheckRermeberID");//获取ID
                $.post("/PanDianShuYiChuLi/GoodsWeiHu/ChuanlectCheckgh", { checkRermeberId: CheckRermeberId }, function (data) {

                });
                $('body').remove();
                document.location.href = "/PanDianShuYiChuLi/GoodsWeiHu/GoodsPanlWeiHu";
            }
            else {
                layer.alert("请选择数据", { icon: 6, title: '温馨小提示：' });
            }

          
        });


    </script>

</body>
</html>
