
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectGoodsuE</title>

    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_bootstrap.min.css" rel="stylesheet" />


    <style>
        .container {
            background: #f0edf1;
            width: 100%;
        }

        .reset-padding {
            padding: 0 5px;
        }

        .reset {
            padding-left: 2px;
            padding-right: 2px;
        }

        label.Size {
            font-size: 60px;
        }

        label {
            font-weight: normal;
        }
    </style>

</head>
<body>
    
    <div class="container">

        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>查询库存商品总帐</h4></div>
                <div class="panel-body" style="background:#f0edf1;">
                    <div class="col-md-11 col-sm-11 col-xs-11" style="padding-left:2px;">
                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label class="control-label">有无订单进货部门:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control" id="Sputtdct"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label class="control-label reset">进货到销售的部门:</label>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control" id="XiaoShouBu"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="control-label reset">日期：</label>
                                        </div>
                                        <div class="col-md-6">
                                           <input type="date" class="form-control" id="Pady"/>
                                        </div>
                                        
                                    </div>
                                </div>
                                

                            </div>
                          
                            <div class="row">
                                <div class="col-lg-9"></div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary" id="btnSelect"><span class="glyphicon glyphicon-search"></span>查 询</button>
                                        </div>
                                        <div class="col-md-5">
                                            <button class="btn btn-block" type="button" onclick="window.print();return false;"><span class="glyphicon glyphicon-print"></span> 打印页面</button>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-block" type="button" id="FanHui">返回</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>


                    <div class="row" style="margin-left:2px;">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span>单据列表</span>
                                    </div>
                                    <div class="panel-body" style="padding-left:15px;">
                                       <div class="row table-responsive" style="overflow:auto;height:320px;">
                                           <table id="WarserHouseTable" style="margin-top:2px;width:1000px;">
                                               <tr>
                                                   <th w_num="total_line">序号</th>
                                                   <th w_index="WareHouseID" w_hidden="true">进仓ID</th>
                                                   <th w_index="OrderFormPactID" w_hidden="true">合同ID</th>
                                                   <th w_index="Remember">进仓编号</th>
                                                   <th w_index="StaffCode">收货人编号</th>
                                                   <th w_index="StaffName">收货人姓名</th>
                                                   <th w_index="RegisterTime">登记时间</th>
                                                   <th w_render="bsgridSetSate">审核状态</th>
                                                   <th w_index="ExamineNot" w_hidden="true">审核状态</th>
                                                   <th w_render="bsgridSetSategh">生效状态</th>
                                                   <th w_index="Status" w_hidden="true">生效状态</th>
                                                   <th w_render="bsgridSetCre">冲红状态</th>
                                                   <th w_index="CrushRedNot" w_hidden="true">冲红状态</th>
                                                   <th w_index="QuFenLeiXingMC">进仓类型</th>
                                                 
                                               </tr>
                                           </table>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="row" style="margin-left:2px;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span>商品列表</span>
                                    </div>
                                    <div class="panel-body" style="padding-left:15px;">
                                        <div class="row table-responsive" style="overflow:auto;height:320px;">
                                            <table id="ShangPin" style="margin-top:2px;width:1000px;">
                                                <tr>
                                                    <th w_num="total_line" width="5%">序号</th>
                                                    <th w_index="GoodsIDs" w_hidden="true"></th><!--商品ID-->

                                                    <th w_index="GoodsCodes">商品代码</th>
                                                    <th w_index="GoodsTiaoMas">商品条码</th>
                                                    <th w_index="GoodsNames">商品名称</th>
                                                    <th w_index="ArtNos">货号</th>
                                                    <th w_index="SpecificationsModels">规格</th>
                                                    <th w_index="PackContents">包装含量</th>
                                                    <th w_index="MumberOfPackages">入库件数</th>
                                                    <th w_index="Subdivision">入库细数</th>
                                                    <th w_index="EstimateUnitNames">计量单位</th>
                                                    <th w_index="TaxBids">含税进价</th>
                                                    <th w_index="RetailMonovalents">零售单格</th>

                                                </tr>
                                            </table>

                                        </div>
                                          
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row"><label>一、商品流程情况</label></div>
                    <div class="row" style="margin-top:10px;">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <div class="col-md-6">
                                    <label class="control-label">1、进货数量为：</label>
                                </div>
                                <div class="col-sm-5">
                                    <div style="border-bottom: #000 1px solid; width: 90px;">
                                        <input readonly="readonly" id="JinHuoShuLiang" style="width: 90px; border: none; color: #0000FF; background:#f0edf1; font-size: 20px;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="col-md-6">
                                    <label class="control-label">2、配货数量为：</label>
                                </div>
                                <div class="col-sm-4">
                                    <div style="border-bottom: #000 1px solid; width: 90px;">
                                        <input readonly="readonly" id="PeiHuoShuLiang" style="width: 90px; border: none; color: #0000FF; background:#f0edf1; font-size: 20px;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="col-md-6">
                                    <label class="control-label">3、损益数量为：</label>
                                </div>
                                <div class="col-sm-4">
                                    <div style="border-bottom: #000 1px solid; width: 90px;">
                                        <input readonly="readonly" id="SunYiShuLiang" style="width: 90px; border: none; color: #0000FF; background:#f0edf1; font-size: 20px;" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="col-md-7">
                                    <label class="control-label">4、正常合计数量为:</label>
                                </div>
                                <div class="col-sm-4">
                                    <div style="border-bottom: #000 1px solid; width: 90px;">
                                        <input readonly="readonly" id="ZhengChangHeJi" style="width: 90px; border: none; color: #0000FF; background:#f0edf1; font-size: 20px;" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                   
                    <div class="row" style="margin-top:20px;">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <div class="col-md-6">
                                    <label class="control-label">1、进货金额为：</label>
                                </div>
                                <div class="col-sm-5">
                                    <div style="border-bottom: #000 1px solid; width: 90px;">
                                        <input readonly="readonly" id="JinHuoJinE" style="width: 90px; border: none; color: #0000FF; background:#f0edf1; font-size: 20px;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="col-md-6">
                                    <label class="control-label">2、配货金额为：</label>
                                </div>
                                <div class="col-sm-4">
                                    <div style="border-bottom: #000 1px solid; width: 90px;">
                                        <input readonly="readonly" id="PeiHuoJinE" style="width: 90px; border: none; color: #0000FF; background:#f0edf1; font-size: 20px;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="col-md-6">
                                    <label class="control-label">3、损益金额为：</label>
                                </div>
                                <div class="col-sm-4">
                                    <div style="border-bottom: #000 1px solid; width: 90px;">
                                        <input readonly="readonly" id="SunYinJinE" style="width: 90px; border: none; color: #0000FF; background:#f0edf1; font-size: 20px;" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="col-md-7">
                                    <label class="control-label">4、正常合计金额为：</label>
                                </div>
                                <div class="col-sm-4">
                                    <div style="border-bottom: #000 1px solid; width: 90px;">
                                        <input readonly="readonly" id="ZhengChangJinE" style="width: 90px; border: none; color: #0000FF; background:#f0edf1; font-size: 20px;" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                  
                </div>
            </div>
        </div>


    </div>



    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script><!--bootstrap-->
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-1.11.2.min.js"></script><!--bootstrap-->
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script><!--bootstrap-->
    <script src="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script src="~/Content/layer/layer.js"></script>


    <script>
        var WarserHouseTable;
        var ShangPin;

        $(document).ready(function () {

            WarserHouseTable = $.fn.bsgrid.init('WarserHouseTable', {
                url: '/GoodsZhangGuanLi/KuCunFenPiZhang/ChaXunWareFonGoodf',
                autoLoad: false,
                stripeRows: true,
                rowHoverColor: true,
                rowSelectedColor: true,
                pageSize: 9,
                pageSizeSelect: true,//
                pagingLittleToolbar: true,//
                pagingToolbarAlign: "left",//
                event: {
                    customRowEvents: {
                        click: function (record, rowIndex, trObj, options) {

                            ShangPin.search("wareHouseID=" + record.WareHouseID);
                        }
                    }
                }
            });
            //WarserHouseTable.search();  tbWaerHouse.ExamineNot == true && tbWaerHouse.Status == true && tbWaerHouse.CrushRedNot == false && 

            //主界面 商品（明细表）
            ShangPin = $.fn.bsgrid.init('ShangPin', {
                url: '/ShangPinJinCang/SelectWaretF/ChaXunShangPin',
                autoLoad: false,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过变色
                pageSize: 5,
                pageSizeSelect: false,
                pagingLittleToolbar: true,
                pagingToolbarAlign: "left",
                event: {
                    customRowEvents: {
                        click: function (record, rowIndex, trObj, options) {
                            $.post("/GoodsZhangGuanLi/KuCunFenPiZhang/SelectConverList?wareHouseDetiailID=" + record.WareHouseDetiailID, function (data) {
                                $("#JinHuoShuLiang").val(data.JinCangMumber);
                                $("#PeiHuoShuLiang").val(data.PeiHuoNumber);
                                $("#ZhengChangHeJi").val(data.JinCangMumber - data.SunYiShu);//总计数量

                                $("#JinHuoJinE").val("￥" + data.JinCangJiaE);
                                $("#PeiHuoJinE").val("￥" + data.PeiHuoJiaE);
                                $("#ZhengChangJinE").val("￥" + data.JinCangJiaE);//总计金额

                                $("#SunYiShuLiang").val(data.SunYiShu);//损益
                                $("#SunYinJinE").val("￥" + data.SunYiShu);//损益
                            });
                        }
                    }
                }
            });

            //有无订单进货的部门
            $.post("/ShangPinJinCang/JingCang/CaiGouXiaLa", function (data) {
                selectLoadData("Sputtdct", data);
            });


            //进货到销售的部门
            $.post("/ShangPinJinCang/LianYingJinCang/CaiGouXiaLa", function (data) {
                selectLoadData("XiaoShouBu", data);
            });

            tabNoticeSearch();
        });


        $("#Sputtdct").change(function () {
            var deparngtCodes = $("#Sputtdct").val();
            if (deparngtCodes != '') {
                $.post("/ShangPinJinCang/LianYingJinCang/CaiGouXiaLa", function (data) {
                    selectLoadData("XiaoShouBu", data);
                });
            }
        });
        $("#XiaoShouBu").change(function () {
            var deparngtCodes = $("#XiaoShouBu").val();
            if (deparngtCodes != '') {
                $.post("/ShangPinJinCang/JingCang/CaiGouXiaLa", function (data) {
                    selectLoadData("Sputtdct", data);
                });
            }
        });


        //条件查询
        function tabNoticeSearch() {
            var XiaoShouBu = $("#XiaoShouBu").val();
            var Sputtdct = $("#Sputtdct").val();
            var Panly = $("#Pady").val();

            if (Sputtdct == undefined || Sputtdct == ""){
                Sputtdct = 0;
            }
            if (XiaoShouBu == undefined || XiaoShouBu == ""){
                XiaoShouBu = 0;
            }

         
            WarserHouseTable.search("XiaoShouBu=" + XiaoShouBu  + "&Sputtdct=" + Sputtdct);
        }
        //查询按钮+ "&releaseTime=" + Panly
        $("#btnSelect").click(function () {

            if ($("#HanShui").prop('checked')) {

                $.post("/GoodsZhangGuanLi/KuCunFenPiZhang/BuHanChaXunWareFondf", function (data) {
                    $("#JinE").val("￥" + data);
                });

            } else {
                tabNoticeSearch();
                ShangPin.clearGridBodyData();
            }

        });





        //设置审核状态
        function bsgridSetSate(record, rowIndex, colIndex, options) {//自定义列的代码（二）

            var toVoidNo = WarserHouseTable.getRecordIndexValue(record, "ExamineNot");
            toVoidNo = record.ExamineNot;
            if (toVoidNo == true || toVoidNo == "true") {
                return '<span style="color:cornflowerblue">已审核</span>';
            } else {
                return '<span style="color:red">未审核</span>';
            }
        }
        //设置生效状态
        function bsgridSetSategh(record, rowIndex, colIndex, options) {//自定义列的代码（二）
            var toVoidNow = WarserHouseTable.getRecordIndexValue(record, "Status");
            toVoidNow = record.Status;
            if (toVoidNow == true || toVoidNow == "true") {
                return '<span style="color:cornflowerblue">已生效</span>';
            } else {
                return '<span style="color:red">未生效</span>';
            }
        }
        //设置冲红状态
        function bsgridSetCre(record, rowIndex, colIndex, options) {//自定义列的代码（二）
            var toVoidNow = WarserHouseTable.getRecordIndexValue(record, "CrushRedNot");
            toVoidNow = record.CrushRedNot;
            if (toVoidNow == true || toVoidNow == "true") {
                return '<span style="color:red">冲红单</span>';
            } else {
                return '<span style="color:cornflowerblue">有效单</span>';
            }
        }



    </script>


</body>
</html>
