
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>HouTaiShuoYe</title>
    <link href="~/Content/LunBo/index.css" rel="stylesheet" />
    <script src="~/Content/LunBo/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Content/LunBo/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Content/LunBo/jquery.corner.js"></script>
    <script type="text/javascript" src="~/Content/LunBo/jquery.roundabout.js"></script>
    <script type="text/javascript" src="~/Content/LunBo/jquery.roundabout-shapes.js"></script>
    <script type="text/javascript" src="~/Content/LunBo/index.js"></script>





</head>
<body>
    <div class="container" id="ShuoYeJieMian">



        <div id="LunBo" style="width:100%;height:420px;">
            <div id="gla">
                <div id="gla_box">
                    <ul class="roundabout-holder" style="padding: 0px; position: relative;">
                        <li class="roundabout-moveable-item" style="">
                            <div class="gla_inbox" style="border-radius: 5px;">
                                <p>图1</p>
                                <img src="~/Content/LunBo/01.jpg" />
                                <a href="http://www.jsdaima.com/" target="_blank">查看详情</a>
                            </div>
                        </li>

                        <li class="roundabout-moveable-item" style="">
                            <div class="gla_inbox" style="border-radius: 5px;">
                                <p>图2</p>
                                <img src="~/Content/LunBo/02.jpg" />
                                <a href="http://www.jsdaima.com/" target="_blank">查看详情</a>
                            </div>
                        </li>

                        <li class="roundabout-moveable-item" style="">
                            <div class="gla_inbox" style="border-radius: 5px;">
                                <p>图3</p>
                                <img src="~/Content/LunBo/03.jpg" />
                                <a href="http://www.jsdaima.com/" target="_blank">查看详情</a>
                            </div>
                        </li>

                        <li class="roundabout-moveable-item" style="">
                            <div class="gla_inbox" style="border-radius: 5px;">
                                <p>图4</p>
                                <img src="~/Content/LunBo/04.jpg" />
                                <a href="http://www.jsdaima.com/" target="_blank">查看详情</a>
                            </div>
                        </li>

                        <li class="roundabout-moveable-item" style="">
                            <div class="gla_inbox" style="border-radius: 5px;">
                                <p>图5</p>
                                <img src="~/Content/LunBo/05.jpg" />
                                <a href="http://www.jsdaima.com/" target="_blank">查看详情</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


        </div>



    </div>



</body>
</html>
