
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_blue.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>ZhuangTaiBianDong</title>
    <style>
        .container {
            width: 100%;
            height: 550px;
            background-color: #f0edf1;
        }

        .form {
            width: 580px;
            height: 30px;
            border: 1px solid #f0edf1;
        }

        .ER {
            width: 100%;
            height: 36px;
            border: 1px solid #f0edf1;
        }

        .Shuangan {
            float: left;
        }

        .ZFYY {
            float: left;
            margin-left: 80px;
        }

        .biaoge {
            width: 100%;
            height: 192px;
            background-color: white;
            border: 1px solid gainsboro;
        }

        .djr {
            float: left;
            margin-left: 90px;
        }

        .djsj {
            float: left;
            margin-left: 90px;
        }

        .shr {
            margin-left: 810px;
        }

        .shsj {
            float: left;
            margin-left: 500px;
        }

        .XS {
            width: 100%;
            height: 70px;
            border: 1px solid #f0edf1;
            margin-top: 5px;
        }

        .btngroup {
            width: 100%;
            height: 50px;
            margin-left: 300px;
            margin-top: 20px;
        }

        .XZK {
            width: 100%;
            height: 55px;
            color: red;
        }

        .fashouka {
            float: left;
        }

        .yixiaofeika {
            float: left;
            margin-left: 50px;
        }

        .yichang {
            float: left;
            margin-left: 50px;
        }

        .tingyongka {
            float: left;
            text-align: center;
            margin-left: 35px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b> 会 员 卡 状 态 变 动 </b>
            </div>
        </div>
        <div class="form">
            <div class="JlBH">
                <button id="btnXuanZeHeTong">记录编号</button>
                <input style="width:120px" id="JiLuBianHao" name="JiLuBianHao" />
            </div>
        </div>
        <div>
            <div class="ER">
                <div class="Shuangan">
                    <button type="button" onclick="TianJiaKaPian()">
                        <span class="glyphicon glyphicon-file"></span> 添 加 卡 片
                    </button>
                    <button type="button" id="doDelete">
                        <span class="glyphicon glyphicon-trash"></span> 删 除 卡 片
                    </button>
                </div>
                <div class="ZFYY">
                    摘 要
                    <input style="width:181px" id="ZhaiYao" name="ZhaiYao" />
                </div>
            </div>
            <div class="XZK">
                <div>状 态</div>
                <div class="fashouka">
                    <label>
                        <input name="form-field-radio" type="radio" />
                        <span class="lbl">发 售 卡</span>
                    </label>
                </div>
                <div class="yixiaofeika">
                    <label>
                        <input name="form-field-radio" type="radio" />
                        <span class="lbl">已 消 费 卡</span>
                    </label>
                </div>
                <div class=" yichang">
                    <label>
                        <input name="form-field-radio" type="radio" />
                        <span class="lbl">异 常 卡</span>
                    </label>
                </div>
                <div class=" tingyongka">
                    <label>
                        <input name="form-field-radio" type="radio" />
                        <span class="lbl">停 用 卡</span>
                    </label>
                </div>
            </div>
            <div class="biaoge">
                <table id="KaZhangTai" class="table table-hover table-condensed  table-bordered  table-striped">
                    <tr>
                        <th w_num="total_line" style="width:10px"></th>
                        <th w_index="CardNber" style="width:50px">会员卡代码</th>
                        <th w_index="Name" style="width:50px">姓名</th>
                        <th w_index="Status" style="width:50px">原状态</th>
                    </tr>
                </table>
            </div>
            <div class="XS">
                <div class="djr">
                    登记人
                    <a class="btn btn-link" href="#">
                        <i class="icon-plus-sign bigger-120 green"></i>
                        林永好
                    </a>
                </div>
                <div class="shr">
                    审核人
                    <a class="btn btn-link" href="#">
                        <i class="icon-plus-sign bigger-120 green"></i>
                        林永好
                    </a>
                </div>
                <div class="djsj">
                    登记时间
                    <a class="btn btn-link" href="#">
                        <i class="icon-plus-sign bigger-120 green"></i>
                        2016.05.17 17:07:28
                    </a>
                </div>
                <div class="shsj">
                    审核时间
                    <a class="btn btn-link" href="#">
                        <i class="icon-plus-sign bigger-120 green"></i>
                        2016.05.17
                    </a>
                </div>
            </div>
            <div>
                <div class="btngroup">
                    <button type="button" id="BtnInsert" class="btn-primary" 。>
                        <span class="glyphicon glyphicon-file"></span> 添 加
                    </button>
                    <button type="button" style="color:gainsboro">
                        <span class="glyphicon glyphicon-adjust"></span> 修 改
                    </button>
                    <button type="button" style="color:gainsboro">
                        <span class="glyphicon glyphicon-bishop"></span> 删 除
                    </button>
                    <button type="button" style="color:gainsboro">
                        <span class="glyphicon glyphicon-cloud"></span> 保 存
                    </button>
                    <button type="button" style="color:gainsboro">
                        <span class="glyphicon glyphicon-eur"></span> 放 弃
                    </button>
                    <button type="button" style="color:gainsboro">
                        <span class="glyphicon glyphicon-list"></span> 审 核
                    </button>
                    <button type="button">
                        <span class="glyphicon glyphicon-inbox"></span> 退 出
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            @*新增员信息信息 模态窗体*@
            <div class="modal bs-example-modal-sm" id="modBaseInfor">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title"><span class="glyphicon glyphicon-th-list"></span>卡片信息</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label">卡号</label>
                                <input id="TJMemberAgeA" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">姓名</label>
                                <input id="TJMemberAgeB" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">原状态</label>
                                <input id="TJMemberAgeC" type="text" class="form-control" />
                            </div>
                            <div class="form-group btn-group">
                                <button id="BtnAdd" type="button" class="btn btn-primary" style="display:block" onclick="BaoCun()">保存</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="tianxiehetongxinxi">
        <div class="modal-dialog">
            <div class="modal-content" style="width:760px;height:420px;">
                <div class="modal-header" style="background:#a8d7ef;">
                    <span>会员建卡信息</span>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body" style="background:#eddddd;">
                    <div class="" style="width:100%;height:390px; background:#f0edf1;">
                        <div class="" style="width:100%;height:320px;overflow:auto;">
                            <table id="tabHeTongXinXi" style="margin-top:2px;width:100%;" class="table">
                                <tr>
                                    <th w_index="JiLuBianHao">记录编号</th>
                                    <th w_index="ZhaiYao">摘要</th>
                                </tr>
                            </table>
                        </div>
                        <div style="text-align:center">
                            <button type="button" class="btn btn-danger" id="btnHeTongXuanZe">
                                选择信息
                            </button>
                            <button type="button" class="btn btn-primary" id="btnDetlete">
                                删 除
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var KaZhangTai;//表
        var EffectiveId;//ID
        $(document).ready(function () {
            //初始化表格
            KaZhangTai = $.fn.bsgrid.init('KaZhangTai', {
                url: '/HuiYuanKaXinXiGuanLi/HuiYuanKaZhuangTaiBianDong/InsertEffective',
                autoLoad: true,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                displayBlankRows: false,//是否显示空白行，默认值false
                pageSize: 10,
                pageSizeSelect: false,//是否选择分页页数下拉框
                pagingLittleToolbar: true,//精简的图标按钮分页工具条
                event: {
                    customRowEvents: {
                        click: function (record, rowIndex, trObj, options) {
                            if (record != null) {
                                EffectiveId = record.EffectiveID;
                            }
                        }
                    }
                }
            });
        });
        //点击按钮弹出新增窗体
        function TianJiaKaPian() {
            document.getElementById("BtnAdd").style.display = "block";//控制按钮显示
            document.getElementById("TJMemberAgeA").value = "";//清空文本数据
            document.getElementById("TJMemberAgeB").value = "";
            document.getElementById("TJMemberAgeC").value = "";
            $("#modBaseInfor").modal("show");//弹出新增窗体
        }
        //新增保存按钮
        function BaoCun() {
            encodeURI();//不过滤￥%
            var A = encodeURI(document.getElementById("TJMemberAgeA").value.trim());//
            var B = document.getElementById("TJMemberAgeB").value.trim();
            var C = document.getElementById("TJMemberAgeC").value.trim();
            $.getJSON("/HuiYuanKaXinXiGuanLi/HuiYuanKaZhuangTaiBianDong/InsertStore?CardNber=" + A + "&Name=" + B + "&Status=" + C, function (data) {
                if (data == "ok") {
                    location.reload();//刷新页面
                }
            });
        }
        $(function () {
            //信息的选择
            $("#btnXuanZeHeTong").click(function () {
                tabHeTongXinXi = $.fn.bsgrid.init('tabHeTongXinXi', {
                    url: '/HuiYuanKaXinXiGuanLi/HuiYuanKaZhuangTaiBianDong/SelectCXSummary',
                    autoLoad: false,
                    stripeRows: true,//隔行变色
                    rowHoverColor: true,//划过行变色
                    pageSize: 20,
                    pageSizeSelect: false,//是否选择分页页数下拉框
                    pagingLittleToolbar: true,//精简的图标按钮分页工具条
                    pagingToolbarAlign: "left",//分页工具条的显示位置
                    displayPagingToolbarOnlyMultiPages: true,//仅当多页时才显示分页工具条
                    event: {
                        customRowEvents: { //record 记录记载  options 选项
                            click: function (record, rowIndex, trObj, options) {
                                if (record != null) {
                                    CXSummaryID = record.CXSummaryID;
                                }
                            }
                        }
                    }
                });
                tabHeTongXinXi.refreshPage();
                $("#tianxiehetongxinxi").modal('show');
            });
            //获取信息
            $("#btnHeTongXuanZe").click(function () {
                var rowIndex = tabHeTongXinXi.getSelectedRowIndex();
                if (rowIndex > -1) {
                    var TheCardsID = tabHeTongXinXi.getColumnValue(rowIndex, "CXSummaryID");
                    $.getJSON("/HuiYuanKaXinXiGuanLi/HuiYuanKaZhuangTaiBianDong/SelectHuoQuKaXinXi?HTID=" + CXSummaryID, function (data) {
                        if (data == "失败") {
                            alert("你没有选择信息");
                        }
                        else {
                            $("#CXSummaryID").val(data.CXSummaryID);//隐藏域
                            $("#JiLuBianHao").val(data.JiLuBianHao);
                            $("#ZhaiYao").val(data.ZhaiYao);
                        }
                        $("#tianxiehetongxinxi").modal('hide');
                    });
                }
                else {
                    alert("请选择一条的信息");
                }
            });
        });
        $("#BtnInsert").click(function () {
            var JiLuBianHao = $("#JiLuBianHao").val();
            var ZhaiYao = $("#ZhaiYao").val();
            if (JiLuBianHao != '' && ZhaiYao != '') {
                $.post("/HuiYuanKaXinXiGuanLi/HuiYuanKaZhuangTaiBianDong/BtnInsert", {
                    JiLuBianHao: JiLuBianHao,
                    ZhaiYao: ZhaiYao
                }, function (data) {
                    if (data == "success") {
                        layer.alert('新增成功'), { icon: 1, title: '提示' };
                    }
                    else {
                        layer.alert('新增失败'), { icon: 1, title: '提示' };
                    }
                });
            } else {
                layer.alert('请输入数据', {icon:3,title:'提示'});
            }
        });
        //删除表
        $("#doDelete").click(function () {
            var selectRowIndex = KaZhangTai.getSelectedRowIndex();//获取选中行的索引值
            if (selectRowIndex >= 0) {
                layer.confirm("您确定到删除该信息？", {
                    icon: 3,
                    btn: ['确定', '取消']
                    //按钮
                }, function (layerIndex) {
                    layer.close(layerIndex);//关闭提示框
                    var EffectiveId = KaZhangTai.getColumnValue(selectRowIndex, "EffectiveID");//获取选中行的id
                    //删除年龄表
                    $.post("/HuiYuanKaXinXiGuanLi/HuiYuanKaZhuangTaiBianDong/DeleteCXSummary",
                        { EffectiveId: EffectiveId }, function (msg) {
                            if (msg == "success") {
                                layer.alert("删除成功！", { icon: 1, title: '提示' });
                                //刷新table
                                KaZhangTai.refreshPage();
                            }
                            else {
                                layer.alert("删除失败", { icon: 2, title: '提示' });
                            }
                        });
                });
            }
            else {
                layer.alert("请选择需要删除的数据", { icon: 0, title: '提示' });
            }
        });
       //删除信息
        $("#btnDetlete").click(function () {
            var selectRowIndex = tabHeTongXinXi.getSelectedRowIndex();//获取选中行的索引值
            if (selectRowIndex >= 0) {
                layer.confirm("您确定到删除该信息？", {
                    icon: 3,
                    btn: ['确定', '取消']
                    //按钮
                }, function (layerIndex) {
                    layer.close(layerIndex);//关闭提示框
                    var CXSummaryId = tabHeTongXinXi.getColumnValue(selectRowIndex, "CXSummaryID");//获取选中行的id
                    //删除年龄表
                    $.post("/HuiYuanKaXinXiGuanLi/HuiYuanKaZhuangTaiBianDong/DeleteCXSummar",
                        { CXSummaryId: CXSummaryId }, function (msg) {
                            if (msg == "success") {
                                layer.alert("删除成功！", { icon: 1, title: '提示' });
                                //刷新table
                                tabHeTongXinXi.refreshPage();
                            }
                            else {
                                layer.alert("删除失败", { icon: 2, title: '提示' });
                            }
                        });
                });
            }
            else {
                layer.alert("请选择需要删除的数据", { icon: 0, title: '提示' });
            }
        });
    </script>
</body>
</html>
