










<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="data-spm" content="a2145" />
    <link rel="shortcut icon" href="//img.alicdn.com/favicon.ico" type="image/x-icon" />
    <title>账户注册 | 大型商贸网</title>
    <!--吊顶assets START-->
    <!-- <link rel="stylesheet" href="//g.alicdn.com/??tb/global/2.6.13/global-min.css?t=20140305"> -->
    <!--吊顶assets END-->
    <!-- S GLOBAL CSS -->
    <link rel="stylesheet" href="//g.alicdn.com/tb/global/3.5.34/global-min.css">
    <!-- S GLOBAL CSS -->

    <link href="//assets.alicdn.com/g/vip/register/2.8.19/xcommon/css/??base.css,form.css,btn.css,dialog.css,msg.css,responsive.css,mobile-check.css?t=201404171640" rev="stylesheet" rel="stylesheet" />
    <link type="text/css" href="//g.alicdn.com/sd/ncpc/nc.css?t=2017122817" rel="stylesheet" />













</head>
<body data-spm="7268393">
    <script>
with(document)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("exparams","category=&userid=&aplus&yunid=&3eea857eae7e7&trid=0b802be515144547183614811e85e3&asid=AQAAAAC+vkRaFdSSTwAAAAB/0Al9suiGBg==",id="tb-beacon-aplus",src=(location>"https"?"//g":"//g")+".alicdn.com/alilog/mlog/aplus_v2.js")
    </script>

    <!-- S GLOBAL HTML -->
    <div id="J_SiteNav" class="site-nav">
        <div id="J_SiteNavBd" class="site-nav-bd">
            <ul id="J_SiteNavBdL" class="site-nav-bd-l"></ul>
            <ul id="J_SiteNavBdR" class="site-nav-bd-r"></ul>
        </div>
    </div>
    <!-- -->
    <!-- 全网顶通 -->
    <!-- E GLOBAL HTML   -->











    <div class="page lang-zh-S">

        <input class="J_From" type="hidden" value="TB" />
        <input class="J_AllowIframe" type="hidden" value="false" />

        <!-- register011183129047.center.eu13 -->

        <input type="hidden" id="J_Member" value="member.9" />

        <div class="header">
            <div class="logo">
                <h1><a href="#"><i class="iconfont tb-logo-cn"></i><i class="iconfont tb-logo-url"></i></a></h1>
                <h2 class="tsl" data-phase-id="r_p_registration">用户注册</h2>
            </div>
        </div>



        <div class="steps steps-4">
            <ol>
                <li class="active"><i>1</i><span class="tsl" data-phase-id="r_p_createAccount">设置用户名</span></li>
                <li><i>2</i><span class="tsl" data-phase-id="r_p_fillUserInfo">填写账号信息</span></li>
                <li><i>3</i><span class="tsl" data-phase-id="r_p_fillUserInfo">设置支付方式</span></li>
                <li><i class="iconfont">&#x3447;</i><span class="tsl" data-phase-id="r_p_regSuc">注册成功</span></li>
            </ol>

            <div class="tsl-switcher">
                <a href="https://reg.taobao.com/member/new_register.jhtml?_lang=zh-S" class="current">中文</a>
                |
                <a href="https://reg.taobao.com/member/new_register.jhtml?_lang=en&amp;_regfrom=TB_OVERSEA">English</a>
            </div>

        </div>


        <div class="content">
            <form action="#" method="post" id="J_MobileForm">
                <div class="form-list form-main-list">
                    <div class="form-group">

                        <div class="form-item">
                            <span class="form-label tsl" data-phase-id="r_p_mobileNum">手机号</span>
                            <div class="mobile-text">

                                <select name="mobile_area" id="J_Area">
                                    <option value="1" data-pattern="^(86){0,1}1\d{10}$" check-key="^(86){0,1}1\d{10}$" data-code='86' selected='selected' data-phase-id="r_c_1" data-desp="CN" data-text="中国大陆">中国大陆</option>
                                    <option value="4" data-pattern="^(00){0,1}(886){1}0{0,1}[6,7,9](?:\d{7}|\d{8}|\d{10})$" check-key="^(00){0,1}(886){1}0{0,1}[6,7,9](?:\d{7}|\d{8}|\d{10})$" data-code='886' data-phase-id="r_c_2" data-desp="TW" data-text="中国台湾地区">中国台湾地区</option>
                                    <option value="2" data-pattern="^(00){0,1}(852){1}0{0,1}[1,5,6,9](?:\d{7}|\d{8}|\d{12})$" check-key="^(00){0,1}(852){1}0{0,1}[1,5,6,9](?:\d{7}|\d{8}|\d{12})$" data-code='852' data-phase-id="r_c_3" data-desp="HK" data-text="中国香港">中国香港</option>
                                    <option value="12" data-pattern="^(00){0,1}(60){1}1\d{8,9}$" check-key="^(00){0,1}(60){1}1\d{8,9}$" data-code='60' data-phase-id="r_c_4" data-desp="MY" data-text="马来西亚">马来西亚</option>
                                    <option value="11" data-pattern="^(00){0,1}(65){1}[13689]\d{6,7}$" check-key="^(00){0,1}(65){1}[13689]\d{6,7}$" data-code='65' data-phase-id="r_c_5" data-desp="SG" data-text="新加坡">新加坡</option>
                                    <option value="6" data-pattern="^(00){0,1}(81){1}0{0,1}[7,8,9](?:\d{8}|\d{9})$" check-key="^(00){0,1}(81){1}0{0,1}[7,8,9](?:\d{8}|\d{9})$" data-code='81' data-phase-id="r_c_6" data-desp="JP" data-text="日本">日本</option>
                                    <option value="5" data-pattern="^(00){0,1}(82){1}0{0,1}[7,1](?:\d{8}|\d{9})$" check-key="^(00){0,1}(82){1}0{0,1}[7,1](?:\d{8}|\d{9})$" data-code='82' data-phase-id="r_c_7" data-desp="KR" data-text="韩国">韩国</option>
                                    <option value="7" data-pattern="^(00){0,1}(1){1}\d{10,12}$" check-key="^(00){0,1}(1){1}\d{10,12}$" data-code='1' data-phase-id="r_c_8" data-desp="US" data-text="美国">美国</option>
                                    <option value="8" data-pattern="^(00){0,1}(1){1}\d{10}$" check-key="^(00){0,1}(1){1}\d{10}$" data-code='1' data-phase-id="r_c_9" data-desp="CA" data-text="加拿大">加拿大</option>
                                    <option value="10" data-pattern="^(00){0,1}(61){1}4\d{8,9}$" check-key="^(00){0,1}(61){1}4\d{8,9}$" data-code='61' data-phase-id="r_c_10" data-desp="AU" data-text="澳大利亚">澳大利亚</option>
                                    <option value="21" data-pattern="^(00){0,1}(64){1}[278]\d{7,9}$" check-key="^(00){0,1}(64){1}[278]\d{7,9}$" data-code='64' data-phase-id="r_c_11" data-desp="NZ" data-text="新西兰">新西兰</option>
                                    <option value="75" data-pattern="^(00){0,1}(355){1}\d{6,15}$" check-key="^(00){0,1}(355){1}\d{6,15}$" data-code='355' data-phase-id="r_c_12" data-desp="AL" data-text="阿尔巴尼亚">阿尔巴尼亚</option>
                                    <option value="26" data-pattern="^(00){0,1}(54){1}\d{6,12}$" check-key="^(00){0,1}(54){1}\d{6,12}$" data-code='54' data-phase-id="r_c_13" data-desp="AR" data-text="阿根廷">阿根廷</option>
                                    <option value="25" data-pattern="^(00){0,1}(971){1}\d{6,12}$" check-key="^(00){0,1}(971){1}\d{6,12}$" data-code='971' data-phase-id="r_c_14" data-desp="AE" data-text="阿联酋">阿联酋</option>
                                    <option value="143" data-pattern="^(00){0,1}(968){1}\d{6,15}$" check-key="^(00){0,1}(968){1}\d{6,15}$" data-code='968' data-phase-id="r_c_15" data-desp="OM" data-text="阿曼">阿曼</option>
                                    <option value="78" data-pattern="^(00){0,1}(994){1}\d{6,15}$" check-key="^(00){0,1}(994){1}\d{6,15}$" data-code='994' data-phase-id="r_c_16" data-desp="AZ" data-text="阿塞拜疆">阿塞拜疆</option>
                                    <option value="44" data-pattern="^(00){0,1}(353){1}\d{6,12}$" check-key="^(00){0,1}(353){1}\d{6,12}$" data-code='353' data-phase-id="r_c_17" data-desp="IE" data-text="爱尔兰">爱尔兰</option>
                                    <option value="39" data-pattern="^(00){0,1}(20){1}\d{6,12}$" check-key="^(00){0,1}(20){1}\d{6,12}$" data-code='20' data-phase-id="r_c_18" data-desp="EG" data-text="埃及">埃及</option>
                                    <option value="38" data-pattern="^(00){0,1}(372){1}\d{6,12}$" check-key="^(00){0,1}(372){1}\d{6,12}$" data-code='372' data-phase-id="r_c_19" data-desp="EE" data-text="爱沙尼亚">爱沙尼亚</option>
                                    <option value="77" data-pattern="^(00){0,1}(244){1}\d{6,15}$" check-key="^(00){0,1}(244){1}\d{6,15}$" data-code='244' data-phase-id="r_c_20" data-desp="AO" data-text="安哥拉">安哥拉</option>
                                    <option value="27" data-pattern="^(00){0,1}(43){1}\d{6,12}$" check-key="^(00){0,1}(43){1}\d{6,12}$" data-code='43' data-phase-id="r_c_21" data-desp="AT" data-text="奥地利">奥地利</option>
                                    <option value="3" data-pattern="^(00){0,1}(853){1}6\d{7}$" check-key="^(00){0,1}(853){1}6\d{7}$" data-code='853' data-phase-id="r_c_22" data-desp="MO" data-text="中国澳门">中国澳门</option>
                                    <option value="144" data-pattern="^(00){0,1}(675){1}\d{6,15}$" check-key="^(00){0,1}(675){1}\d{6,15}$" data-code='675' data-phase-id="r_c_23" data-desp="PG" data-text="巴布亚新几内亚">巴布亚新几内亚</option>
                                    <option value="31" data-pattern="^(00){0,1}(1242){1}\d{6,12}$" check-key="^(00){0,1}(1242){1}\d{6,12}$" data-code='1242' data-phase-id="r_c_24" data-desp="BS" data-text="巴哈马">巴哈马</option>
                                    <option value="147" data-pattern="^(00){0,1}(970){1}\d{6,15}$" check-key="^(00){0,1}(970){1}\d{6,15}$" data-code='970' data-phase-id="r_c_25" data-desp="PS" data-text="巴勒斯坦">巴勒斯坦</option>
                                    <option value="82" data-pattern="^(00){0,1}(973){1}\d{6,15}$" check-key="^(00){0,1}(973){1}\d{6,15}$" data-code='973' data-phase-id="r_c_26" data-desp="BH" data-text="巴林">巴林</option>
                                    <option value="59" data-pattern="^(00){0,1}(507){1}\d{6,12}$" check-key="^(00){0,1}(507){1}\d{6,12}$" data-code='507' data-phase-id="r_c_27" data-desp="PA" data-text="巴拿马">巴拿马</option>
                                    <option value="30" data-pattern="^(00){0,1}(55){1}\d{6,12}$" check-key="^(00){0,1}(55){1}\d{6,12}$" data-code='55' data-phase-id="r_c_28" data-desp="BR" data-text="巴西">巴西</option>
                                    <option value="32" data-pattern="^(00){0,1}(375){1}\d{6,12}$" check-key="^(00){0,1}(375){1}\d{6,12}$" data-code='375' data-phase-id="r_c_29" data-desp="BY" data-text="白俄罗斯">白俄罗斯</option>
                                    <option value="29" data-pattern="^(00){0,1}(359){1}\d{6,12}$" check-key="^(00){0,1}(359){1}\d{6,12}$" data-code='359' data-phase-id="r_c_30" data-desp="BG" data-text="保加利亚">保加利亚</option>
                                    <option value="84" data-pattern="^(00){0,1}(229){1}\d{6,15}$" check-key="^(00){0,1}(229){1}\d{6,15}$" data-code='229' data-phase-id="r_c_31" data-desp="BJ" data-text="贝宁">贝宁</option>
                                    <option value="28" data-pattern="^(00){0,1}(32){1}\d{6,12}$" check-key="^(00){0,1}(32){1}\d{6,12}$" data-code='32' data-phase-id="r_c_32" data-desp="BE" data-text="比利时">比利时</option>
                                    <option value="60" data-pattern="^(00){0,1}(51){1}\d{6,12}$" check-key="^(00){0,1}(51){1}\d{6,12}$" data-code='51' data-phase-id="r_c_33" data-desp="PE" data-text="秘鲁">秘鲁</option>
                                    <option value="61" data-pattern="^(00){0,1}(48){1}\d{6,12}$" check-key="^(00){0,1}(48){1}\d{6,12}$" data-code='48' data-phase-id="r_c_34" data-desp="PL" data-text="波兰">波兰</option>
                                    <option value="86" data-pattern="^(00){0,1}(591){1}\d{6,15}$" check-key="^(00){0,1}(591){1}\d{6,15}$" data-code='591' data-phase-id="r_c_35" data-desp="BO" data-text="玻利维亚">玻利维亚</option>
                                    <option value="33" data-pattern="^(00){0,1}(501){1}\d{6,12}$" check-key="^(00){0,1}(501){1}\d{6,12}$" data-code='501' data-phase-id="r_c_36" data-desp="BZ" data-text="伯利兹">伯利兹</option>
                                    <option value="81" data-pattern="^(00){0,1}(226){1}\d{6,15}$" check-key="^(00){0,1}(226){1}\d{6,15}$" data-code='226' data-phase-id="r_c_37" data-desp="BF" data-text="布基纳法索">布基纳法索</option>
                                    <option value="109" data-pattern="^(00){0,1}(240){1}\d{6,15}$" check-key="^(00){0,1}(240){1}\d{6,15}$" data-code='240' data-phase-id="r_c_38" data-desp="GQ" data-text="赤道几内亚">赤道几内亚</option>
                                    <option value="37" data-pattern="^(00){0,1}(45){1}\d{6,12}$" check-key="^(00){0,1}(45){1}\d{6,12}$" data-code='45' data-phase-id="r_c_39" data-desp="DK" data-text="丹麦">丹麦</option>
                                    <option value="17" data-pattern="^(00){0,1}(49){1}1(\d{5,6}|\d{9,12})$" check-key="^(00){0,1}(49){1}1(\d{5,6}|\d{9,12})$" data-code='49' data-phase-id="r_c_40" data-desp="DE" data-text="德国">德国</option>
                                    <option value="161" data-pattern="^(00){0,1}(228){1}\d{6,15}$" check-key="^(00){0,1}(228){1}\d{6,15}$" data-code='228' data-phase-id="r_c_41" data-desp="TG" data-text="多哥">多哥</option>
                                    <option value="20" data-pattern="^(00){0,1}(7){1}[13489]\d{9,11}$" check-key="^(00){0,1}(7){1}[13489]\d{9,11}$" data-code='7' data-phase-id="r_c_42" data-desp="RU" data-text="俄罗斯">俄罗斯</option>
                                    <option value="19" data-pattern="^(00){0,1}(33){1}(\d{6}|\d{8,9})$" check-key="^(00){0,1}(33){1}(\d{6}|\d{8,9})$" data-code='33' data-phase-id="r_c_43" data-desp="FR" data-text="法国">法国</option>
                                    <option value="15" data-pattern="^(00){0,1}(63){1}[24579](\d{7,9}|\d{12})$" check-key="^(00){0,1}(63){1}[24579](\d{7,9}|\d{12})$" data-code='63' data-phase-id="r_c_44" data-desp="PH" data-text="菲律宾">菲律宾</option>
                                    <option value="41" data-pattern="^(00){0,1}(358){1}\d{6,12}$" check-key="^(00){0,1}(358){1}\d{6,12}$" data-code='358' data-phase-id="r_c_45" data-desp="FI" data-text="芬兰">芬兰</option>
                                    <option value="95" data-pattern="^(00){0,1}(238){1}\d{6,15}$" check-key="^(00){0,1}(238){1}\d{6,15}$" data-code='238' data-phase-id="r_c_46" data-desp="CV" data-text="佛得角">佛得角</option>
                                    <option value="107" data-pattern="^(00){0,1}(220){1}\d{6,15}$" check-key="^(00){0,1}(220){1}\d{6,15}$" data-code='220' data-phase-id="r_c_47" data-desp="GM" data-text="冈比亚">冈比亚</option>
                                    <option value="104" data-pattern="^(00){0,1}(1473){1}\d{6,15}$" check-key="^(00){0,1}(1473){1}\d{6,15}$" data-code='1473' data-phase-id="r_c_48" data-desp="GD" data-text="格林纳达">格林纳达</option>
                                    <option value="105" data-pattern="^(00){0,1}(995){1}\d{6,15}$" check-key="^(00){0,1}(995){1}\d{6,15}$" data-code='995' data-phase-id="r_c_49" data-desp="GE" data-text="格鲁吉亚">格鲁吉亚</option>
                                    <option value="36" data-pattern="^(00){0,1}(57){1}\d{6,12}$" check-key="^(00){0,1}(57){1}\d{6,12}$" data-code='57' data-phase-id="r_c_50" data-desp="CO" data-text="哥伦比亚">哥伦比亚</option>
                                    <option value="93" data-pattern="^(00){0,1}(506){1}\d{6,15}$" check-key="^(00){0,1}(506){1}\d{6,15}$" data-code='506' data-phase-id="r_c_51" data-desp="CR" data-text="哥斯达黎加">哥斯达黎加</option>
                                    <option value="112" data-pattern="^(00){0,1}(592){1}\d{6,15}$" check-key="^(00){0,1}(592){1}\d{6,15}$" data-code='592' data-phase-id="r_c_52" data-desp="GY" data-text="圭亚那">圭亚那</option>
                                    <option value="22" data-pattern="^(00){0,1}(31){1}6\d{8}$" check-key="^(00){0,1}(31){1}6\d{8}$" data-code='31' data-phase-id="r_c_53" data-desp="NL" data-text="荷兰">荷兰</option>
                                    <option value="113" data-pattern="^(00){0,1}(504){1}\d{6,15}$" check-key="^(00){0,1}(504){1}\d{6,15}$" data-code='504' data-phase-id="r_c_54" data-desp="HN" data-text="洪都拉斯">洪都拉斯</option>
                                    <option value="99" data-pattern="^(00){0,1}(253){1}\d{6,15}$" check-key="^(00){0,1}(253){1}\d{6,15}$" data-code='253' data-phase-id="r_c_55" data-desp="DJ" data-text="吉布提">吉布提</option>
                                    <option value="48" data-pattern="^(00){0,1}(996){1}\d{6,12}$" check-key="^(00){0,1}(996){1}\d{6,12}$" data-code='996' data-phase-id="r_c_56" data-desp="KG" data-text="吉尔吉斯斯坦">吉尔吉斯斯坦</option>
                                    <option value="108" data-pattern="^(00){0,1}(224){1}\d{6,15}$" check-key="^(00){0,1}(224){1}\d{6,15}$" data-code='224' data-phase-id="r_c_57" data-desp="GN" data-text="几内亚">几内亚</option>
                                    <option value="111" data-pattern="^(00){0,1}(245){1}\d{6,15}$" check-key="^(00){0,1}(245){1}\d{6,15}$" data-code='245' data-phase-id="r_c_58" data-desp="GW" data-text="几内亚比绍">几内亚比绍</option>
                                    <option value="103" data-pattern="^(00){0,1}(241){1}\d{6,15}$" check-key="^(00){0,1}(241){1}\d{6,15}$" data-code='241' data-phase-id="r_c_59" data-desp="GA" data-text="加蓬">加蓬</option>
                                    <option value="49" data-pattern="^(00){0,1}(855){1}\d{6,12}$" check-key="^(00){0,1}(855){1}\d{6,12}$" data-code='855' data-phase-id="r_c_60" data-desp="KH" data-text="柬埔寨">柬埔寨</option>
                                    <option value="173" data-pattern="^(00){0,1}(263){1}\d{6,15}$" check-key="^(00){0,1}(263){1}\d{6,15}$" data-code='263' data-phase-id="r_c_61" data-desp="ZW" data-text="津巴布韦">津巴布韦</option>
                                    <option value="92" data-pattern="^(00){0,1}(237){1}\d{6,15}$" check-key="^(00){0,1}(237){1}\d{6,15}$" data-code='237' data-phase-id="r_c_62" data-desp="CM" data-text="喀麦隆">喀麦隆</option>
                                    <option value="63" data-pattern="^(00){0,1}(974){1}\d{6,12}$" check-key="^(00){0,1}(974){1}\d{6,12}$" data-code='974' data-phase-id="r_c_63" data-desp="QA" data-text="卡塔尔">卡塔尔</option>
                                    <option value="121" data-pattern="^(00){0,1}(1345){1}\d{6,15}$" check-key="^(00){0,1}(1345){1}\d{6,15}$" data-code='1345' data-phase-id="r_c_64" data-desp="KY" data-text="开曼群岛">开曼群岛</option>
                                    <option value="114" data-pattern="^(00){0,1}(385){1}\d{6,15}$" check-key="^(00){0,1}(385){1}\d{6,15}$" data-code='385' data-phase-id="r_c_65" data-desp="HR" data-text="克罗地亚">克罗地亚</option>
                                    <option value="119" data-pattern="^(00){0,1}(269){1}\d{6,15}$" check-key="^(00){0,1}(269){1}\d{6,15}$" data-code='269' data-phase-id="r_c_66" data-desp="KM" data-text="科摩罗">科摩罗</option>
                                    <option value="120" data-pattern="^(00){0,1}(965){1}\d{6,15}$" check-key="^(00){0,1}(965){1}\d{6,15}$" data-code='965' data-phase-id="r_c_67" data-desp="KW" data-text="科威特">科威特</option>
                                    <option value="118" data-pattern="^(00){0,1}(254){1}\d{6,15}$" check-key="^(00){0,1}(254){1}\d{6,15}$" data-code='254' data-phase-id="r_c_68" data-desp="KE" data-text="肯尼亚">肯尼亚</option>
                                    <option value="127" data-pattern="^(00){0,1}(371){1}\d{6,15}$" check-key="^(00){0,1}(371){1}\d{6,15}$" data-code='371' data-phase-id="r_c_69" data-desp="LV" data-text="拉脱维亚">拉脱维亚</option>
                                    <option value="126" data-pattern="^(00){0,1}(266){1}\d{6,15}$" check-key="^(00){0,1}(266){1}\d{6,15}$" data-code='266' data-phase-id="r_c_70" data-desp="LS" data-text="莱索托">莱索托</option>
                                    <option value="51" data-pattern="^(00){0,1}(370){1}\d{6,12}$" check-key="^(00){0,1}(370){1}\d{6,12}$" data-code='370' data-phase-id="r_c_71" data-desp="LT" data-text="立陶宛">立陶宛</option>
                                    <option value="52" data-pattern="^(00){0,1}(352){1}\d{6,12}$" check-key="^(00){0,1}(352){1}\d{6,12}$" data-code='352' data-phase-id="r_c_72" data-desp="LU" data-text="卢森堡">卢森堡</option>
                                    <option value="148" data-pattern="^(00){0,1}(250){1}\d{6,15}$" check-key="^(00){0,1}(250){1}\d{6,15}$" data-code='250' data-phase-id="r_c_73" data-desp="RW" data-text="卢旺达">卢旺达</option>
                                    <option value="64" data-pattern="^(00){0,1}(40){1}\d{6,12}$" check-key="^(00){0,1}(40){1}\d{6,12}$" data-code='40' data-phase-id="r_c_74" data-desp="RO" data-text="罗马尼亚">罗马尼亚</option>
                                    <option value="132" data-pattern="^(00){0,1}(261){1}\d{6,15}$" check-key="^(00){0,1}(261){1}\d{6,15}$" data-code='261' data-phase-id="r_c_75" data-desp="MG" data-text="马达加斯加">马达加斯加</option>
                                    <option value="55" data-pattern="^(00){0,1}(960){1}\d{6,12}$" check-key="^(00){0,1}(960){1}\d{6,12}$" data-code='960' data-phase-id="r_c_76" data-desp="MV" data-text="马尔代夫">马尔代夫</option>
                                    <option value="138" data-pattern="^(00){0,1}(265){1}\d{6,15}$" check-key="^(00){0,1}(265){1}\d{6,15}$" data-code='265' data-phase-id="r_c_77" data-desp="MW" data-text="马拉维">马拉维</option>
                                    <option value="134" data-pattern="^(00){0,1}(223){1}\d{6,15}$" check-key="^(00){0,1}(223){1}\d{6,15}$" data-code='223' data-phase-id="r_c_78" data-desp="ML" data-text="马里">马里</option>
                                    <option value="137" data-pattern="^(00){0,1}(230){1}\d{6,15}$" check-key="^(00){0,1}(230){1}\d{6,15}$" data-code='230' data-phase-id="r_c_79" data-desp="MU" data-text="毛里求斯">毛里求斯</option>
                                    <option value="136" data-pattern="^(00){0,1}(222){1}\d{6,15}$" check-key="^(00){0,1}(222){1}\d{6,15}$" data-code='222' data-phase-id="r_c_80" data-desp="MR" data-text="毛里塔尼亚">毛里塔尼亚</option>
                                    <option value="54" data-pattern="^(00){0,1}(976){1}\d{6,12}$" check-key="^(00){0,1}(976){1}\d{6,12}$" data-code='976' data-phase-id="r_c_81" data-desp="MN" data-text="蒙古">蒙古</option>
                                    <option value="129" data-pattern="^(00){0,1}(373){1}\d{6,15}$" check-key="^(00){0,1}(373){1}\d{6,15}$" data-code='373' data-phase-id="r_c_82" data-desp="MD" data-text="摩尔多瓦">摩尔多瓦</option>
                                    <option value="53" data-pattern="^(00){0,1}(212){1}\d{6,12}$" check-key="^(00){0,1}(212){1}\d{6,12}$" data-code='212' data-phase-id="r_c_83" data-desp="MA" data-text="摩洛哥">摩洛哥</option>
                                    <option value="139" data-pattern="^(00){0,1}(258){1}\d{6,15}$" check-key="^(00){0,1}(258){1}\d{6,15}$" data-code='258' data-phase-id="r_c_84" data-desp="MZ" data-text="莫桑比克">莫桑比克</option>
                                    <option value="56" data-pattern="^(00){0,1}(52){1}\d{6,12}$" check-key="^(00){0,1}(52){1}\d{6,12}$" data-code='52' data-phase-id="r_c_85" data-desp="MX" data-text="墨西哥">墨西哥</option>
                                    <option value="140" data-pattern="^(00){0,1}(264){1}\d{6,15}$" check-key="^(00){0,1}(264){1}\d{6,15}$" data-code='264' data-phase-id="r_c_86" data-desp="NA" data-text="纳米比亚">纳米比亚</option>
                                    <option value="72" data-pattern="^(00){0,1}(27){1}\d{6,12}$" check-key="^(00){0,1}(27){1}\d{6,12}$" data-code='27' data-phase-id="r_c_87" data-desp="ZA" data-text="南非">南非</option>
                                    <option value="142" data-pattern="^(00){0,1}(505){1}\d{6,15}$" check-key="^(00){0,1}(505){1}\d{6,15}$" data-code='505' data-phase-id="r_c_88" data-desp="NI" data-text="尼加拉瓜">尼加拉瓜</option>
                                    <option value="141" data-pattern="^(00){0,1}(227){1}\d{6,15}$" check-key="^(00){0,1}(227){1}\d{6,15}$" data-code='227' data-phase-id="r_c_89" data-desp="NE" data-text="尼日尔">尼日尔</option>
                                    <option value="57" data-pattern="^(00){0,1}(234){1}\d{6,12}$" check-key="^(00){0,1}(234){1}\d{6,12}$" data-code='234' data-phase-id="r_c_90" data-desp="NG" data-text="尼日利亚">尼日利亚</option>
                                    <option value="58" data-pattern="^(00){0,1}(47){1}\d{6,12}$" check-key="^(00){0,1}(47){1}\d{6,12}$" data-code='47' data-phase-id="r_c_91" data-desp="NO" data-text="挪威">挪威</option>
                                    <option value="62" data-pattern="^(00){0,1}(351){1}\d{6,12}$" check-key="^(00){0,1}(351){1}\d{6,12}$" data-code='351' data-phase-id="r_c_92" data-desp="PT" data-text="葡萄牙">葡萄牙</option>
                                    <option value="23" data-pattern="^(00){0,1}(46){1}[124-7](\d{8}|\d{10}|\d{12})$" check-key="^(00){0,1}(46){1}[124-7](\d{8}|\d{10}|\d{12})$" data-code='46' data-phase-id="r_c_93" data-desp="SE" data-text="瑞典">瑞典</option>
                                    <option value="34" data-pattern="^(00){0,1}(41){1}\d{6,12}$" check-key="^(00){0,1}(41){1}\d{6,12}$" data-code='41' data-phase-id="r_c_94" data-desp="CH" data-text="瑞士">瑞士</option>
                                    <option value="157" data-pattern="^(00){0,1}(503){1}\d{6,15}$" check-key="^(00){0,1}(503){1}\d{6,15}$" data-code='503' data-phase-id="r_c_95" data-desp="SV" data-text="萨尔瓦多">萨尔瓦多</option>
                                    <option value="65" data-pattern="^(00){0,1}(381){1}\d{6,12}$" check-key="^(00){0,1}(381){1}\d{6,12}$" data-code='381' data-phase-id="r_c_96" data-desp="RS" data-text="塞尔维亚">塞尔维亚</option>
                                    <option value="152" data-pattern="^(00){0,1}(232){1}\d{6,15}$" check-key="^(00){0,1}(232){1}\d{6,15}$" data-code='232' data-phase-id="r_c_97" data-desp="SL" data-text="塞拉利昂">塞拉利昂</option>
                                    <option value="153" data-pattern="^(00){0,1}(221){1}\d{6,15}$" check-key="^(00){0,1}(221){1}\d{6,15}$" data-code='221' data-phase-id="r_c_98" data-desp="SN" data-text="塞内加尔">塞内加尔</option>
                                    <option value="97" data-pattern="^(00){0,1}(357){1}\d{6,15}$" check-key="^(00){0,1}(357){1}\d{6,15}$" data-code='357' data-phase-id="r_c_99" data-desp="CY" data-text="塞浦路斯">塞浦路斯</option>
                                    <option value="67" data-pattern="^(00){0,1}(248){1}\d{6,12}$" check-key="^(00){0,1}(248){1}\d{6,12}$" data-code='248' data-phase-id="r_c_100" data-desp="SC" data-text="塞舌尔">塞舌尔</option>
                                    <option value="66" data-pattern="^(00){0,1}(966){1}\d{6,12}$" check-key="^(00){0,1}(966){1}\d{6,12}$" data-code='966' data-phase-id="r_c_101" data-desp="SA" data-text="沙特阿拉伯">沙特阿拉伯</option>
                                    <option value="50" data-pattern="^(00){0,1}(94){1}\d{6,12}$" check-key="^(00){0,1}(94){1}\d{6,12}$" data-code='94' data-phase-id="r_c_102" data-desp="LK" data-text="斯里兰卡">斯里兰卡</option>
                                    <option value="151" data-pattern="^(00){0,1}(421){1}\d{6,15}$" check-key="^(00){0,1}(421){1}\d{6,15}$" data-code='421' data-phase-id="r_c_103" data-desp="SK" data-text="斯洛伐克">斯洛伐克</option>
                                    <option value="150" data-pattern="^(00){0,1}(386){1}\d{6,15}$" check-key="^(00){0,1}(386){1}\d{6,15}$" data-code='386' data-phase-id="r_c_104" data-desp="SI" data-text="斯洛文尼亚">斯洛文尼亚</option>
                                    <option value="159" data-pattern="^(00){0,1}(268){1}\d{6,15}$" check-key="^(00){0,1}(268){1}\d{6,15}$" data-code='268' data-phase-id="r_c_105" data-desp="SZ" data-text="斯威士兰">斯威士兰</option>
                                    <option value="155" data-pattern="^(00){0,1}(597){1}\d{6,15}$" check-key="^(00){0,1}(597){1}\d{6,15}$" data-code='597' data-phase-id="r_c_106" data-desp="SR" data-text="苏里南">苏里南</option>
                                    <option value="162" data-pattern="^(00){0,1}(992){1}\d{6,15}$" check-key="^(00){0,1}(992){1}\d{6,15}$" data-code='992' data-phase-id="r_c_107" data-desp="TJ" data-text="塔吉克斯坦">塔吉克斯坦</option>
                                    <option value="13" data-pattern="^(00){0,1}(66){1}[13456789]\d{7,8}$" check-key="^(00){0,1}(66){1}[13456789]\d{7,8}$" data-code='66' data-phase-id="r_c_108" data-desp="TH" data-text="泰国">泰国</option>
                                    <option value="165" data-pattern="^(00){0,1}(255){1}\d{6,15}$" check-key="^(00){0,1}(255){1}\d{6,15}$" data-code='255' data-phase-id="r_c_109" data-desp="TZ" data-text="坦桑尼亚">坦桑尼亚</option>
                                    <option value="164" data-pattern="^(00){0,1}(1868){1}\d{6,15}$" check-key="^(00){0,1}(1868){1}\d{6,15}$" data-code='1868' data-phase-id="r_c_110" data-desp="TT" data-text="特立尼达和多巴哥">特立尼达和多巴哥</option>
                                    <option value="69" data-pattern="^(00){0,1}(90){1}\d{6,12}$" check-key="^(00){0,1}(90){1}\d{6,12}$" data-code='90' data-phase-id="r_c_111" data-desp="TR" data-text="土耳其">土耳其</option>
                                    <option value="163" data-pattern="^(00){0,1}(993){1}\d{6,15}$" check-key="^(00){0,1}(993){1}\d{6,15}$" data-code='993' data-phase-id="r_c_112" data-desp="TM" data-text="土库曼斯坦">土库曼斯坦</option>
                                    <option value="68" data-pattern="^(00){0,1}(216){1}\d{6,12}$" check-key="^(00){0,1}(216){1}\d{6,12}$" data-code='216' data-phase-id="r_c_113" data-desp="TN" data-text="突尼斯">突尼斯</option>
                                    <option value="110" data-pattern="^(00){0,1}(502){1}\d{6,15}$" check-key="^(00){0,1}(502){1}\d{6,15}$" data-code='502' data-phase-id="r_c_114" data-desp="GT" data-text="危地马拉">危地马拉</option>
                                    <option value="70" data-pattern="^(00){0,1}(58){1}\d{6,12}$" check-key="^(00){0,1}(58){1}\d{6,12}$" data-code='58' data-phase-id="r_c_115" data-desp="VE" data-text="委内瑞拉">委内瑞拉</option>
                                    <option value="85" data-pattern="^(00){0,1}(673){1}\d{6,15}$" check-key="^(00){0,1}(673){1}\d{6,15}$" data-code='673' data-phase-id="r_c_116" data-desp="BN" data-text="文莱">文莱</option>
                                    <option value="166" data-pattern="^(00){0,1}(256){1}\d{6,15}$" check-key="^(00){0,1}(256){1}\d{6,15}$" data-code='256' data-phase-id="r_c_117" data-desp="UG" data-text="乌干达">乌干达</option>
                                    <option value="24" data-pattern="^(00){0,1}(380){1}[3-79]\d{8,9}$" check-key="^(00){0,1}(380){1}[3-79]\d{8,9}$" data-code='380' data-phase-id="r_c_118" data-desp="UA" data-text="乌克兰">乌克兰</option>
                                    <option value="167" data-pattern="^(00){0,1}(598){1}\d{6,15}$" check-key="^(00){0,1}(598){1}\d{6,15}$" data-code='598' data-phase-id="r_c_119" data-desp="UY" data-text="乌拉圭">乌拉圭</option>
                                    <option value="168" data-pattern="^(00){0,1}(998){1}\d{6,15}$" check-key="^(00){0,1}(998){1}\d{6,15}$" data-code='998' data-phase-id="r_c_120" data-desp="UZ" data-text="乌兹别克斯坦">乌兹别克斯坦</option>
                                    <option value="40" data-pattern="^(00){0,1}(34){1}\d{6,12}$" check-key="^(00){0,1}(34){1}\d{6,12}$" data-code='34' data-phase-id="r_c_121" data-desp="ES" data-text="西班牙">西班牙</option>
                                    <option value="42" data-pattern="^(00){0,1}(30){1}\d{6,12}$" check-key="^(00){0,1}(30){1}\d{6,12}$" data-code='30' data-phase-id="r_c_122" data-desp="GR" data-text="希腊">希腊</option>
                                    <option value="43" data-pattern="^(00){0,1}(36){1}\d{6,12}$" check-key="^(00){0,1}(36){1}\d{6,12}$" data-code='36' data-phase-id="r_c_123" data-desp="HU" data-text="匈牙利">匈牙利</option>
                                    <option value="117" data-pattern="^(00){0,1}(1876){1}\d{6,15}$" check-key="^(00){0,1}(1876){1}\d{6,15}$" data-code='1876' data-phase-id="r_c_124" data-desp="JM" data-text="牙买加">牙买加</option>
                                    <option value="171" data-pattern="^(00){0,1}(967){1}\d{6,15}$" check-key="^(00){0,1}(967){1}\d{6,15}$" data-code='967' data-phase-id="r_c_125" data-desp="YE" data-text="也门">也门</option>
                                    <option value="18" data-pattern="^(00){0,1}(39){1}[37]\d{8,11}$" check-key="^(00){0,1}(39){1}[37]\d{8,11}$" data-code='39' data-phase-id="r_c_126" data-desp="IT" data-text="意大利">意大利</option>
                                    <option value="45" data-pattern="^(00){0,1}(972){1}\d{6,12}$" check-key="^(00){0,1}(972){1}\d{6,12}$" data-code='972' data-phase-id="r_c_127" data-desp="IL" data-text="以色列">以色列</option>
                                    <option value="46" data-pattern="^(00){0,1}(91){1}\d{6,12}$" check-key="^(00){0,1}(91){1}\d{6,12}$" data-code='91' data-phase-id="r_c_128" data-desp="IN" data-text="印度">印度</option>
                                    <option value="16" data-pattern="^(00){0,1}(62){1}[2-9]\d{7,11}$" check-key="^(00){0,1}(62){1}[2-9]\d{7,11}$" data-code='62' data-phase-id="r_c_129" data-desp="ID" data-text="印度尼西亚">印度尼西亚</option>
                                    <option value="9" data-pattern="^(00){0,1}(44){1}[347-9](\d{8,9}|\d{11,12})$" check-key="^(00){0,1}(44){1}[347-9](\d{8,9}|\d{11,12})$" data-code='44' data-phase-id="r_c_130" data-desp="GB" data-text="英国">英国</option>
                                    <option value="71" data-pattern="^(00){0,1}(1284){1}\d{6,12}$" check-key="^(00){0,1}(1284){1}\d{6,12}$" data-code='1284' data-phase-id="r_c_131" data-desp="VG" data-text="英属维尔京群岛">英属维尔京群岛</option>
                                    <option value="47" data-pattern="^(00){0,1}(962){1}\d{6,12}$" check-key="^(00){0,1}(962){1}\d{6,12}$" data-code='962' data-phase-id="r_c_132" data-desp="JO" data-text="约旦">约旦</option>
                                    <option value="14" data-pattern="^(00){0,1}(84){1}[1-9]\d{6,9}$" check-key="^(00){0,1}(84){1}[1-9]\d{6,9}$" data-code='84' data-phase-id="r_c_133" data-desp="VN" data-text="越南">越南</option>
                                    <option value="172" data-pattern="^(00){0,1}(260){1}\d{6,15}$" check-key="^(00){0,1}(260){1}\d{6,15}$" data-code='260' data-phase-id="r_c_134" data-desp="ZM" data-text="赞比亚">赞比亚</option>
                                    <option value="160" data-pattern="^(00){0,1}(235){1}\d{6,15}$" check-key="^(00){0,1}(235){1}\d{6,15}$" data-code='235' data-phase-id="r_c_135" data-desp="TD" data-text="乍得">乍得</option>
                                    <option value="35" data-pattern="^(00){0,1}(56){1}\d{6,12}$" check-key="^(00){0,1}(56){1}\d{6,12}$" data-code='56' data-phase-id="r_c_136" data-desp="CL" data-text="智利">智利</option>
                                </select>

                                <input autocomplete="off" class="form-text mobile-input" name="mobile" id="J_Mobile" type="text" value="" placeholder="请输入你的手机号码"
                                       data-inner_placeholder="r_p_input_inner_enterMobile" data-outer_placeholder="r_p_input_enterMobile" />
                                <div class="msg" data-type="info" data-show="0" id="J_MsgMobile"></div>
                            </div>
                        </div>

                        <div class="form-item">
                            <span class="form-label tsl" data-phase-id="r_p_noCaptcha">
                                验证
                            </span>
                            <div id="_umfp" style="width:1px;height:1px;overflow:hidden">
                                <img src="//ynuf.aliapp.org/service/clear.png?xt=19110dea2ab1b0535c3d9813b4ff5271&amp;xa=CF_APP_REGISTER" />
                            </div>
                            <div id="register_no_captcha"></div>
                            <input id="J_NcoSig" name="ncoSig" type="hidden" />
                            <input id="J_NcoSessionid" name="ncoSessionid" type="hidden" />
                            <input id="J_NcoToken" type="hidden" name="ncoToken" value="19110dea2ab1b0535c3d9813b4ff5271" />
                            <input id="J_NcoUa" type="hidden" name="ua" />
                        </div>




                    </div>
                    <div class="form-group">
                        <div class="form-item form-item-short">
                            <button type="submit" class="btn btn-large tsl btn-disabled" data-phase-id="r_p_next" id="J_BtnMobileForm" disabled>下一步</button>
                            <div class="msg" data-type="error" data-show="0" id="J_MsgMobileForm"></div>
                        </div>
                        <div class="form-item f12 tsl" data-phase-id="r_1m_useEmailTip">
                            <a href='https://passport.alibaba.com/reg/enter_reg.htm?_regfrom=TB_ENTERPRISE'>切换成企业账户注册</a>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--手机验证START-->
    <div class="ks-dialog mobile-check" id='J_MobileCheck'>
        <div class="ks-dialog-content">
            <a href="javascript:void('close')" class="ks-dialog-close ks-overlay-close" role="button" aria-label="关闭">
                <span class="iconfont ks-dialog-close-x ks-overlay-close-x">&#x3432;</span>
            </a>
            <div class="ks-dialog-header">
                <h3 class="tsl" data-phase-id="r_p_fillCheckcode">验证手机</h3>
                <div class="msg tsl" data-phase-id="r_p_checkcodeSentTip" data-type="info" data-show="1" id="J_MsgCodeTitle">
                    验证码已经送到你的手机，15分钟内输入有效，请勿泄露
                </div>
            </div>
            <div class="ks-dialog-body">
                <form action="#" method="post" id="J_MobileCodeForm">
                    <div class="form-list">
                        <div class="form-group">
                            <div class="form-item">
                                <span class="form-label tsl" data-phase-id="r_p_mobileNum">手机号</span>
                                <span id="J_MobileNumber"></span>
                            </div>
                            <div class="form-item">
                                <span class="form-label tsl" data-phase-id="r_p_checkcode">验证码</span>
                                <input class="form-text checkcode-text" id="J_MobileCode" type="text" name="code" value="" maxlength="6" aria-required="true" aria-label="校验码" />
                                <button type="button" class="btn btn-white btn-weak tsl" data-phase-id="r_p_getCheckcodeTip" type="button" id="J_BtnMobileCode">免费获取验证码</button>
                                <button type="button" class="btn btn-white btn-weak tsl hide" data-phase-id="r_p_getVoiceCheckcodeTip" type="button" id="J_BtnMobileVoiceCode">获取语音校验码</button>
                                <button type="button" class="btn btn-white btn-weak tsl hide" data-phase-id="r_p_getOtherCheckcodeTip" type="button" id="J_BtnMobileUpCode">获取其他校验方式</button>
                                <div class="msg" data-type="info" data-show="0" id="J_MsgResendCode" aria-live="assertive"></div>
                            </div>
                            <div class="form-item">
                                <button id="J_BtnMobileCodeForm" class="btn btn-normal tsl" data-phase-id="r_p_confirm" type="submit">确认</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--手机验证END-->
    <!--手机上行验证START2-->
    <div class="ks-dialog mobile-check" id='J_MobileUpCheck'>
        <div class="ks-dialog-content">
            <a href="javascript:void('close')" class="ks-dialog-close ks-overlay-close" role="button">
                <span class="iconfont ks-dialog-close-x ks-overlay-close-x">&#x3432;</span>
            </a>
            <div class="ks-dialog-header">
                <h3 class="tsl" data-phase-id="r_p_upsmscheck">验证手机</h3>
                <div class="msg tsl" data-phase-id="r_p_upsmsSendTip" data-type="info" data-show="1" id="J_MobileUpMsg">
                    请勿关闭窗口，验证成功后会自动跳转
                </div>

                <div class="ks-dialog-body">
                    <div class="mobile-check-content">
                        <p><span class="tsl" data-phase-id="r_p_upsmsMobileNum">请使用手机号码：</span><span id="phoneNum"></span></p>
                        <p>
                            <span class=" tsl" data-phase-id="r_p_upsmsCheckcode">编辑短信 </span><strong id="codeNum"></strong><span class="tsl" data-phase-id="r_p_upsmsGateway">
                                发送至
                            </span><strong id="sendCodeNum"></strong> <span class="tsl" data-phase-id="r_p_upsmsFinish"> 完成验证 </span>
                        </p>
                        <div class="mobile-check-tip">
                            <p><span class="tsl" data-phase-id="r_p_upsmsFailTip">一直验证失败？请试试 </span><a href="javascript:;" id="J_Close" class="tsl" data-phase-id="r_p_upsmsChangeMobil">更换手机号码</a></p>
                            <p class="tsl" data-phase-id="r_p_upsmsChargeTip">返回修改手机</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--手机上行验证END2-->

    <div class="ks-dialog hide" id='J_Account'>
        <div class="ks-dialog-content">
            <a href="javascript:void('close')" class="ks-overlay-close ks-dialog-close" role="button">
                <span class="iconfont ks-dialog-close-x ks-overlay-close-x">&#x3432;</span>
            </a>
            <div class="ks-dialog-header">
            </div>
            <div class="ks-dialog-body" style="margin-bottom: 130px;">
                <p class="clearfix">
                    <span class="fn-inline">
                        <img id="J_Avatar" style="border-radius: 50%;width:80px;height:80px;">
                    </span>
                    <span class="fn-inline nick-info">
                        <span class="tsl" data-phase-id="r_p_userName">登录名：</span><span id="J_ConflictNick"></span>
                    </span>
                </p>
                <div class="hide" id="J_Release">
                    <p class="tsl" data-phase-id="r_1m_releaseTip">手机号<strong class='mobile'></strong> 已被以上账户使用，请确认该账户是否为你本人所有</p>
                    <p><a href="https://reg.taobao.com/member/extra/login_dispatcher.do" target="_blank" class="btn btn-normal tsl" data-phase-id="r_p_login">该账户是我的，立即登录</a></p>
                    <p>
                        <a href="https://reg.taobao.com/member/reg/fill_user_info.htm" class="tsl" data-phase-id="r_1m_continueRegistration">继续注册</a>
                    </p>
                </div>
                <div class="hide" id="J_Leadtologin">
                    <p class="tsl" data-phase-id="r_1m_releaseTip">手机号<strong class='mobile'></strong> 已被以上账户使用，请确认该账户是否为你本人所有</p>
                    <p>
                        <a href="https://reg.taobao.com/member/extra/login_dispatcher.do" target="_blank" class="btn btn-normal tsl" data-phase-id="r_p_login">该账户是我的，立即登录</a>
                    </p>
                    <p><a href="https://reg.taobao.com/member/reg/mobile_used.htm" class="tsl" data-phase-id="r_1m_leadToEmailGuide">不是我的，使用邮箱继续注册</a></p>
                </div>
                <div class="hide" id="J_FillEmail">
                    <p class="tsl" data-phase-id="r_1m_releaseTip">手机号<strong class='mobile'></strong> 已被以上账户使用，请确认该账户是否为你本人所有</p>
                    <p>
                        <a href="https://reg.taobao.com/member/extra/login_dispatcher.do" target="_blank" class="btn btn-normal tsl" data-phase-id="r_p_login">该账户是我的，立即登录</a>
                    </p>
                    <p><a href="https://reg.taobao.com/member/reg/mobile_used.htm" class="tsl" data-phase-id="r_1m_leadToEmailGuide">不是我的，使用邮箱继续注册</a></p>
                </div>

            </div>
        </div>
    </div>


    <div class="ks-dialog hide" id='J_AgreementDialog'>
        <div class="ks-dialog-content">
            <a target="_top" href="http://www.taobao.com/" class="ks-overlay-close" role="button">
                <span class="iconfont ks-dialog-close-x ks-overlay-close-x">&#x3432;</span>
            </a>
            <div class='ks-dialog-header'>
                <h3>注册协议</h3>
            </div>
            <div class='ks-dialog-body'>
                <p><strong>【审慎阅读】</strong>您在申请注册流程中点击同意前，应当认真阅读以下协议。<strong style='text-decoration: underline'>请您务必审慎阅读、充分理解协议中相关条款内容，其中包括：</strong></p>
                <p>1、<strong style='text-decoration: underline'>与您约定免除或限制责任的条款；</strong></p>
                <p>2、<strong style='text-decoration: underline'>与您约定法律适用和管辖的条款；</strong></p>
                <p>3、<strong style='text-decoration: underline'>其他以粗体下划线标识的重要条款。</strong></p>
                <p>如您对协议有任何疑问，可向平台客服咨询。</p>
                <p><strong>【特别提示】</strong>当您按照注册页面提示填写信息、阅读并同意协议且完成全部注册程序后，即表示您已充分阅读、理解并接受协议的全部内容。如您因平台服务与大型商贸发生争议的，适用《大型商贸平台服务协议》处理。如您在使用平台服务过程中与其他用户发生争议的，依您与其他用户达成的协议处理。</p>
                <p><strong style='text-decoration: underline'>阅读协议的过程中，如果您不同意相关协议或其中任何条款约定，您应立即停止注册程序。</strong></p>
                <p><a href='http://terms.alicdn.com/legal-agreement/terms/TD/TD201609301342_19559.html' target='_blank'>《大型商贸平台服务协议》</a></p>
                <p><a href='http://terms.alicdn.com/legal-agreement/terms/suit_bu1_taobao/suit_bu1_taobao201703241622_61002.html' target='_blank'>《法律声明及隐私权政策》</a></p>
                <p><a href='https://ds.alipay.com/fd-inhm9zcq/index.html' target='_blank'>《支付宝服务协议》</a></p>

                <p style='text-align: center'>
                    <button class='btn btn-large' type='button' id='J_AgreementBtn'>同意协议</button>
                </p>
            </div>
        </div>
    </div>


    <!-- UE -->
    <div class="ue-suggest">
        <img width="18" height="18" alt="注册改进建议" src="//img.alicdn.com/tps/i4/T1Pt0FXmJcXXXXXXXX-18-18.png">
        <a target="_blank" href="//ur.taobao.com/survey/view.htm?id=587">"大型商贸注册"改进建议</a>
    </div>


    <!-- 页脚 -->
    <div class="footer">
        <div class="footer-hd">
            <p>
                <a href="//page.1688.com/shtml/about/ali_group1.shtml">阿里巴巴集团</a>
                <b>|</b>
                <a href="//www.alibaba.com">阿里巴巴国际站</a>
                <b>|</b>
                <a href="//www.1688.com">阿里巴巴中国站</a>
                <b>|</b>
                <a href="//www.aliexpress.com">全球速卖通</a>
                <b>|</b>
                <a href="//www.taobao.com">大型商贸网</a>
                <b>|</b>
                <a href="//www.tmall.com">天猫</a>
                <b>|</b>
                <a href="//ju.taobao.com">聚划算</a>
                <b>|</b>
                <a href="//www.etao.com">一淘</a>
                <b>|</b>
                <a href="//www.alimama.com">阿里妈妈</a>
                <b>|</b>
                <a href="//www.aliyun.com">阿里云计算</a>
                <b>|</b>
                <a href="//www.yunos.com">云OS</a>
                <b>|</b>
                <a href="//www.net.cn">万网</a>
                <b>|</b>
                <a href="//www.alipay.com">支付宝</a>
            </p>
        </div>
        <div class="footer-bd">
            <p>
                <a href="//www.taobao.com/about">关于大型商贸平台</a>
                <a href="//www.taobao.com/about/partners.php">合作伙伴</a>
                <a href="//pro.taobao.com">营销中心</a>
                <a href="//service.taobao.com/support/main/service_route.htm">联系客服</a>
                <a href="//open.taobao.com">开放平台</a>
                <a href="//www.taobao.com/about/join.php">诚征英才</a>
                <a href="//consumerservice.taobao.com/contact-us">联系我们</a>
                <a href="//www.taobao.com/sitemap.php">网站地图</a>
                <a href="//terms.alicdn.com/legal-agreement/terms/suit_bu1_taobao/suit_bu1_taobao201703241622_61002.html">法律声明及隐私权政策</a>
                <em>&copy; 2017 Taobao.com 版权所有</em>
            </p>
            <p>
                <span>网络文化经营许可证：<a href="//img.alicdn.com/tps/i4/T1ysdvXtNeXXcPpEkQ-972-636.jpg">文网文[2010]040号</a></span>
                <b>|</b>
                <span>增值电信业务经营许可证：浙B2-20080224-1</span>
                <b>|</b>
                <span>信息网络传播视听节目许可证：1109364号</span>
            </p>
        </div>
        <div class="footer-ft">
            <a href="//www.pingpinganan.gov.cn/web/index.aspx?file=index.aspx"><img width="36" height="36" src="//img.alicdn.com/tps/i1/T1FeW3XXNfXXXXXXXX-36-36.gif"></a>
            <a href="//idinfo.zjaic.gov.cn/bscx.do?method=hddoc&id=33018400000067" class="mod mod-a"></a>
            <a href="//idinfo.zjaic.gov.cn/bscx.do?&method=hddoc&id=33018400000067" class="mod mod-b"></a>
            <a href="//www.theclimategroup.org.cn/about/friend" class="mod mod-c"></a>
            <a href="https://ss.cnnic.cn/verifyseal.dll?&sn=2010062300100001357&pa=20100701" class="mod mod-d"></a>
            <a href="//www.ppaaol.com/verifySite.do?id=1051" class="mod mod-e"></a>
        </div>
        <div class="footer-toy"></div>

        <div id="server-num" style="color:#FFF;font-size:11px;text-align:center">register011183129047.center.eu13</div>
    </div>
    <!-- 页脚 -->
    <!-- S GLOBAL JS -->
    <script data-config="{combine:true}" src="//g.alicdn.com/??kissy/k/1.4.7/seed-min.js,tb/global/3.5.34/global-min.js"></script>
    <!-- E GLOBAL JS -->

    <script type="text/javascript">
    TB.Global.blacklist = ['fn-cart'];
    TB.Global.init();
    </script>

    <script>
	TRConfig = {
		"resendUrl":"https://reg.taobao.com/member/checkcode/re_send_cell_checkcode.do?type=NormalRegistrationV2",
		"resendCellByVoiceUrl" : "https://reg.taobao.com/member/checkcode/re_send_cell_checkcode.do?send_type=voice&type=NormalRegistrationV2",
		"checkUrl":"https://reg.taobao.com/member/checkcode/check_cell_checkcode.do?type=NormalRegistrationV2",
				"fillInfo":"https://reg.taobao.com/member/reg/fill_user_info.htm",
		"fillEmail":"https://reg.taobao.com/member/reg/mobile_used.htm",
		"getImageCheckcodeUrl" : "https://reg.taobao.com/member/checkcode/get_image_check_code.do?flow=NEW_REG_PC",
		"checkImageCheckcodeUrl" : "https://reg.taobao.com/member/checkcode/check_image_check_code.do",
		"checkNoCaptchaUrl" : "https://reg.taobao.com/member/checkcode/check_no_captcha.do",
		 		"smsUpOrDownUrl":"https://reg.taobao.com/member/checkcode/mobile_validation_choice.do?type=NormalRegistrationV2",
	  	 	    "getUpSmsUrl":"https://reg.taobao.com/member/checkcode/get_up_sms_code.do",
	   	 		"checkUpSmsCodeUrl":"https://reg.taobao.com/member/checkcode/check_up_sms_code.do"

	};

    </script>



    <script type="text/javascript">

    TRLang = {
        r_ui_recommendNickTip : '推荐使用',
        ERROR_THIRDPARTY_ILLEGAL_PARAM : '输入的个性化信息错误',
        ERROR_THIRDPARTY_GENERAL_FAILURE : '网络繁忙，请稍后再试',
        ERROR_THIRDPARTY_GENERAL_BANNED_WORDS : '您输入的信息包含违禁词',
        ERROR_THIRDPARTY_CBU_NAME_BANNED_WORDS : '您输入的信息包含违禁词',
        ERROR_THIRDPARTY_GENERAL_INVALID_CHARACTER : '您输入的信息包含非法字符',
        ERROR_GENERAL_MOBILEPHONE_EMPTY : '请输入你的手机号码',
        ERROR_GENERAL_MOBILE_MALFORM : '手机号码格式不正确，请重新输入',
        ERROR_REGISTER_MOBILE_IN_BLACK : '该手机号码注册账号过多，请更换手机号重试',
        ERROR_REGISTER_MOBILE_UNAVAILABLE : '此手机号码绑定的帐户数已达上限，请更换',
        ERROR_REGISTER_CHECKCODE_VERIFY_LIMIT : '校验码错误次数已经超过最大次数，请重新获取校验码',
        ERROR_REGISTER_CHECKCODE_SEND_LIMIT : '发送校验码已经达到上限，请在24小时后重试',
        ERROR_REGISTER_CHECKCODE_SEND_TOO_FREQUENT : '校验码发送频率太快，请稍后重试',
        ERROR_REGISTER_EMAIL_SEND_TOO_FREQUENT : '邮件发送频率太快，请稍后重试',
        ERROR_GENERAL_PHONE_EMPTY : '请输入你的电话/手机号码',
        ERROR_GENERAL_PHONE_MALFORM : '电话/手机号码不正确，请重新输入',
        ERROR_MALFORM_NICK_NAME : '5-25个字符，推荐使用中文，请勿包含姓名/身份证/银行卡等隐私信息，一旦设置成功无法修改',
        ERROR_MISS_EMAIL : '缺少邮箱',
        ERROR_MALFORM_NICK_NAME_TOO_SHORT : '会员名为5-25字符',
        ERROR_MALFORM_NICK_NAME_TOO_LONG : '会员名为5-25字符',
        ERROR_MALFORM_NICK_NAME_ALL_NUM : '会员名为5-25字符，需要包含字母或者汉字',
        ERROR_MISS_NICK_NAME : '请设置会员名',
        ERROR_MALFORM_NICK_NAME_INVALID_CHARACTER : '该会员名包含了非法字符{malWord}，请重新输入。',
					            ERROR_DUP_NICK_NAME : '该会员名已被使用。你可以:<br/>1、重新输入或选择推荐的会员名<br/>2、使用该会员名<a href=\'{loginLink}\' target=\'_blank\'>登录</a>'.replace("{loginLink}", "https://reg.taobao.com/member/extra/login_dispatcher.do"),
                ERROR_UNDERLINE : '会员名首位和末位不能是下划线\'_\'',
        ERROR_GENERAL_NICK_ALL_NUM : '不能全部为数字',
        ERROR_BANNED_WORDS : '会员名不能含有敏感词',
        ERROR_PASSWORD_LIKE_NICK : '密码和账户名太相似',
        ERROR_MALFORM_PASSWORD : '密码设置不符合要求',
        ERROR_MALFORM_PASSWORD_TOO_SHORT : '密码设置不符合要求',
        ERROR_MALFORM_PASSWORD_TOO_LONG : '密码设置不符合要求',
        ERROR_REGISTER_CHECKCODE_NOT_MATCH : '校验码不正确，请重新输入',
        ERROR_REGISTER_UPSMS_CHECKCODE_NOT_MATCH : '验证失败，请重新发送短信',
        ERROR_REGISTER_UPVOICE_CHECKCODE_NOT_MATCH : '验证失败，请重新拨打语音电话',
        ERROR_REGISTER_UPSMS_CHECKCODE_GET_FAIL : '短信验证码获取失败',
        ERROR_REGISTER_UPVOICE_CHECKCODE_GET_FAIL : '语音验证码获取失败',
        ERROR_REGISTER_CHECKCODE_MALFORM : '校验码是6位数字，请重新输入',
        ERROR_IMAGECHECKCODE_EMPTY : '请点击左边的输入框获取验证码',
        ERROR_IMAGECHECKCODE_MALFORM : '验证码长度为4位',
        ERROR_IMAGECHECKCODE_INVALID : '验证码不正确，请重新输入',
        ERROR_GENERAL_IMAGECHECKCODE_NOT_MATCH : '验证码不正确，请重新输入',
                    ERROR_REGISTER_EMAIL_IN_BLACK : '此邮箱暂不支持作为登录名，请更换',
                ERROR_GENERAL_EMAIL_EMPTY : '请输入你的电子邮箱',
        ERROR_GENERAL_MISS_MOBILE : '缺少手机号',
        ERROR_GENERAL_EMAIL_MALFORM : '邮箱格式不正确，请重新输入',
        ERROR_GENERAL_EMAIL_MALFORM_TOO_LONG : '邮箱长度最大为60个字符',
        ERROR_GENERAL_USER_NOT_EXISTS : '账户不存在',
        ERROR_REGISTER_ACCOUNT_EXIST_IN_CURRENT : '你的账户已经激活',
        ERROR_REGISTER_ACCOUNT_EXIST_OTHER_BU : '账户已经存在',
        ERROR_REGISTER_NICK_UNAVAILABLE : '会员名不可用',
        ERROR_REGISTER_PASSWORD_TOO_SIMPLE : '你的密码过于简单或存在安全风险，请更换',
        ERROR_REGISTER_ALI_FAKE_PROXY_CELLPHONE : '不支持阿里小号注册，请更换',
        ERROR_ACTIVATION_UNSUPPORT_USER : '您的账号无法进行业务激活',
        GENERIC_FAILURE : '网络繁忙，请稍后再试',
        ERROR_GENERAL_OUTER_SYSTEM_FAIL : '网络繁忙，请稍后再试',
        ERROR_GENERAL_ILLEGAL_PARAM : '参数错误',
        ERROR_FIRSTNAME_EMPTY : '请输入你的英文名',
        ERROR_LASTNAME_EMPTY : '请输入你的英文姓',
        ERROR_FIRSTNAME_MALFORM : '您的姓中有非英文字符，请输入英文字符',
        ERROR_LASTNAME_MALFORM : '您的姓中有非英文字符，请输入英文字符',
        ERROR_THIRDPARTY_PARAM_EMPTY : '参数不能为空',
        ERROR_THIRDPARTY_PARAM_MALFORM : '参数格式不正确',
        ERROR_ACTIVATION_TAOBAO_USER_EXISTS : '您的账号已经开通大型商贸业务',
        TIP_REGISTER_CHECKCODE_SENT : '校验码已发送至你的手机，请查收',
        TIP_REGISTER_VOICECHECKCODE_SENT : '电话正在拨出，请您留意接听',
        TIP_REGISTER_VOICECHECKCODE_MSG : '如您无法收到短信验证码，请点击\'获取语音验证码\'。我们将给您拨打电话，请您留意接听',
        TIP_REGISTER_MOBILECHECKCODE_MSG : '校验码已发送到你的手机，15分钟内输入有效，请勿泄漏',
        ERROR_SMS_UPWARD_UNRECEIVED : '未收到验证码。<p>勿关闭窗口，验证成功后会自动跳转 </p>',
        ERROR_SMS_UPWARD_ERROR_CODE : '验证失败，请重新发送。<p>勿关闭窗口，验证成功后会自动跳转 </p>',
        ERROR_SMS_UPWARD_TIMEOUT : '验证码失效，请 <a id=\'J_reSendUpMsg\' class=\'resend-upmsg\' href=\'javascript:;\'>刷新验证码</a>，重新发送',
        ERROR_VOICE_UPWARD_ERROR_CODE : '验证失败，点击再次呼叫我们将向你拨打语音来电',
        ERROR_VOICE_UPWARD_TIMEOUT : '验证码失效，请重新获取验证码',


        ERROR_PHONE_EMPTY : '请补全您的联系电话信息',
        ERROR_PHONE_AREA_MALFORM : '您的区号格式有误，请输入8位以内的数字',
        ERROR_PHONE_NUMBER_MALFORM : '您输入的号码格式有误，请输入14位以内数字或者数字与\'-\'的组合',
        ERROR_GENERAL_COMPANY_INVALID : '输入的字符必须是3-50位的中文汉字',
        ERROR_GENERAL_ADDRESS_INVALID : '输入的字符必须是5-200位的字符',
        ERROR_VOICE_UPWARD_UNRECEIVED : '未收到验证码',

                    ERROR_REGISTER_EMAIL_UNAVAILABLE: '此邮箱作为登录名已存在，请更换邮箱或登录',

        ERROR_REGISTER_EMAIL_ICBU_GUEST: '此邮箱作为登录名已存在，请更换邮箱或登录',

            ERROR_GENERAL_CONFIRM_PASSWORD_NOT_MATCH : '两次密码输入不一致',
        ERROR_GENERAL_ILLEGAL_SIGN : '您请求的参数错误，请重新登录后重试',
        ERROR_GENERAL_MOBILEPHONE_MALFORM : '手机号码格式不正确，请重新输入',
        ERROR_GENERAL_SESSION_TIMEOUT : '请求已过期，请重试',
        ERROR_HAVANA_SERVICE_UNAVAILABLE : '系统错误，请稍后重试',
        ERROR_MOBILE_IN_BLACK : '该手机号码注册账号过多，请更换手机号重试',
        ERROR_OVER_TIME : '激活链接已过期',
        ERROR_SHANG_JIA_RU_ZHU : '您的账号正在审核中,暂不支持登录',
        INPUT_ERROR : '参数错误',
        JOIN_BLACKLIST : '输入的邮箱不可用，请更换邮箱重新输入',
        TIP_REGISTER_EMAIL_SENT : '发送成功',

        pwd_level_high : '强',
        pwd_level_low : '弱',
        pwd_level_medium : '中',

        r_m2e_verificationCodeSentTip : '重发验证码(%t% s)',
        r_ui_pwd_strength : '强度',
        r_p_upsmsSendTip : '请勿关闭窗口，验证成功后会自动跳转',

        ERROR_GENERAL_COMPANY_EMPTY:'公司名称不能为空',
        SC_OVERSEA_ERROR_GENERAL_COMPANY_LENGTH:'输入的字符长度必须在3-128位之间',
        SC_OVERSEA_ERROR_GENERAL_COMPANY_INVALID:'输入的英文字符',

        ERROR_ACCOUNTTYPE_EMPTY:'请选择你的角色',
        ERROR_PHONE_AREA_EMPTY : '请输入你的区号',
        ERROR_PHONE_NUMBER_EMPTY : '请输入你的电话号码',
        SC_OVERSEA_ERROR_GENERAL_COUNTRY_EMPTY:'请选择你的国家/省份',
        ERROR_GENERAL_NOCAPTCHA_CHECK_ERROR : '滑动验证失败，请重试',


        ERROR_YUNMAIL_PREFIX_EMPTY : '云邮箱前缀不能为空', //"云邮箱前缀不能为空",
        ERROR_YUNMAIL_FORMAT_ERROR : '云邮箱前缀格式错误', //"云邮箱前缀格式错误",
        ERROR_YUNMAIL_LENGTH_ERROR : '云邮箱前缀应为6-32位字符',//"云邮箱前缀应为6-32位字符",
        ERROR_ALIYUN_BIZCAREGORY_EMPTY : '所属行业不能为空',

        r_p_tip_enterUserName : '建议会员名使用简体中文，方便好记',
        ERROR_COMPANY_NAME_BANNED_WORDS : '企业名不能含有敏感词',

        r_m_voice_v_code_recall_tip : '重新拨打',
        r_m_voice_v_code_recall_time_format_tip : '重新拨打(%t% s)',
        r_m_text_v_code_resend_tip : '',
        r_m_text_v_code_resend_time_format_tip : '',
        REGISTER_TIP_GET_VOICECHECKCODE_MSG : '获取语音验证码',
        REGISTER_TIP_PLAY_VOICE_MSG : '点击播放语音',
        REGISTER_TIP_LISTNE_VOICE_MSG : '请仔细收听',
        REGISTER_TIP_GET_NEW_VOICE_MSG : '重新获取验证码',
        REGISTER_TIP_GET_IMAGECHECKCODE_MSG : '获取图片验证码',
        r_m_text_up_sms_confirm_tip : '请确认本机号码为：',
        r_m_text_up_voice_confirm_tip : '请确认本机号码为：',
        REGISTER_TIP_GET_NEW_IMAGECHECKCODE_MSG : '重新获取验证码',

        ERROR_COUNTRY_NOT_FOUND : '找不到国家/地区',
        ERROR_MALFORM_COMPANY_NAME_TOO_LONG :'公司名称长度超过限制',
        ERROR_DUP_DEFAULT_NICK_NAME:'该会员名已被使用，请刷新页面或者设置新会员名',
        ERROR_ACTIVATION_UNSUPPORT_USER_ALIPAY:'您的账号无法进行业务激活',

        active_submit_confirm:'确定',


        ERROR_ACTIVATION_TARGET_SITE_USER_EXISTS:'您的账户已经在此站点开通',

        active_submit_cancel:'取消',
        label_country:'国家/地区',
        lable_firstname:'姓',
        label_lastname:'名',
        label_mobile:'手机号',
        label_email:'邮箱',
        scroll_captcha:'验证',
        label_submit_bind:'注册并绑定',
        reg_third_tip_title:'请补充以下信息完成注册，方便您后续更好的使用Alibaba.com',
        label_name:'姓名',
        label_code:'校验码',
        r_p_checkcode_notnull:'请输入校验码',
		r_m_text_v_code_resend_time_format_tip:'重发(%t% s)',
        r_m_text_v_code_resend_tip:'重发',
        r_p_submit:'提交',
        r_mobile_verify_send:'',
        r_mobile_verify_tip:'请输入您的手机收到的验证码',
        error_register_checkcode_malform:'校验码是6位数字，请重新输入',
        r_p_upsmscheck:'验证手机',
        ERROR_SYSTEM_ERROR:'网络繁忙，请稍后再试',
        ERROR_THIRDPARTY_BINDED_FAILED:''
    };
    </script>


    <script type="text/javascript" charset="utf-8" src="//g.alicdn.com/sd/ncpc/nc.js?xt=2017122817"></script>
    <script type="text/javascript">
	    var nc = new noCaptcha();
	    var opt = {
	        renderTo:'register_no_captcha',
	        appkey : 'CF_APP_REGISTER' ,
	        token :'19110dea2ab1b0535c3d9813b4ff5271',
	        elementID : ["J_Mobile"],
	        uaUrl:"https://af.alicdn.com/js/uac.js",
	        is_Opt:0,
	        glog:1,
	        callback: function  (data) {
	        if(KISSY.get('#J_AgreementDialog')){KISSY.one('#J_BtnMobileForm').removeAttr('disabled').removeClass('btn-disabled'); }
	        	KISSY.one("#J_NcoSig").attr("value", data.sig);
	        	KISSY.one("#J_NcoSessionid").attr("value", data.csessionid);
	        	KISSY.one("#J_NcoUa").attr("value", _n);
	        },
	        error : function(s){
	        },
			                language:'cn',
							        isEnabled:true,
			foreign : 0
	    }
	    nc.init(opt);
    </script>

    <script>
    window.alicareDialogAsyncInit = function(AlicareDialog) {
        new AlicareDialog({

            position: {
                top: 300, // 像素
                right: '9%' // 百分比
            },
            undraggable: false,
            from: 'fill_mobile'
        });
    }
    </script>


    <div id="_umfp" style="display:inline;width:1px;height:1px;overflow:hidden">
        <img src="//ynuf.aliapp.org/service/clear.png?xt=SHAREDPLATFORM_REGISTER:7471029aee8e6a412e4d89ad98d86dcd&xa=SHAREDPLATFORM_REGISTER" />
    </div>

    <script>
(function (w, d, t) {
    var s = d.createElement(t), m = d.getElementsByTagName(t)[0];
    s.async = 1;
    s.src = "https://g.alicdn.com/sd/pointman/js/pt2.js?_=" + Math.floor((new Date()).getTime() / 36e5);
    m.parentNode.insertBefore(s, m);

    w._pointman_q = w._pointman_q || [];
    _pointman_q.push(["um", function (umx) {
        var container = document.getElementById("_umfp");
        umx.init({
            timeout: 3000,
            serviceLocation: 'cn',
            appName: 'SHAREDPLATFORM_REGISTER',
            token: 'SHAREDPLATFORM_REGISTER:7471029aee8e6a412e4d89ad98d86dcd',
            containers:{flash:container ,dcp:container}
        });
    }]);
})(window, document, "script");
    </script>

    <script src="//assets.alicdn.com/g/vip/register/2.8.19/xcommon/js/??reg.js,atp.js,q.js,components/xerror.js,components/timeoutbtn.js,components/mobile-select.js,components/checkcode.js,components/message.js,mobile-reg.js,utils/checkenable.js,utils/messages.js,utils/checkcode.js" charset="utf-8"></script>
    <script src="//g.alicdn.com/crm/alicare-dialog/0.0.4/include.js" charset="utf-8"></script>

</body>
</html>
