
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DiaoBaDan</title>
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_blue.min.css" rel="stylesheet" />

    <style>
        .container {
            width: 100%;
            padding-top: 4px;
            background: #fff;
        }

        label {
            font-weight: normal;
        }
       
        .left-titles {
            border: 1px solid #aaa;
            border-radius: 2px;
        }

        .left-titles {
            height: 450px;
        }
    </style>





</head>
<body>
   
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="form-group">

                        <span class="h4">商品调拨单</span>
                        <div class="pull-right">
                            <button class="form-control btn-sm btn btn-info" id="Colse"><span class="glyphicon glyphicon-remove">关闭</span></button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-body">
                    <form class="form-horizontal">
                        <div class="container" style="background:#f0edf1;">

                            <!--隐藏域-->
                            <input type="hidden" id="converID" />
                            <input type="hidden" id="Numberl"/>

                            <div class="row" style="margin-top:10px;">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="control-label" style="margin-left:10px;">记录编号</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="Remember" disabled/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <button type="button" id="ShiWuFuHuo" class="btn btn-block">实物付货人</button>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" id="payName" class="form-control" name="payName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" type="button" id="DaYinBtn" onclick="window.print();return false;"><span class="glyphicon glyphicon-print"></span> 打印页面</button>
                                    </div>
                                </div>
                                

                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="control-label"  style="padding-left:10px;">发货部门</label>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control" id="SpouseBRanchID"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <button type="button" id="ShouHuoRen" class="btn btn-block">实物收货人</button>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" id="furlName" class="form-control" name="furlName" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="control-label">收货部门</label>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control" id="SpouseBRanchIDtwo"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2">
                                            <label class="control-label">备 注</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="Remarks" id="Remarks" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="col-sm-3" style="padding-left:35px;">
                                            <button type="button" id="PiLiangXuan" class="btn btn-block">批量选商品</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="col-md-offset-8 col-sm-3">
                                            <button type="button" id="ShangpinPeiHuo" class="btn btn-block">商品配货批次</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="margin-top:5px;margin-left:10px;overflow:auto;width:100%;height:210px;">
                                <table id="ShangPin">
                                    <tr>
                                        <th w_num="total_line" width="5%">序号</th>
                                        <th w_index="GoodsIDs" w_hidden="true"></th><!--商品ID-->
                                     
                                        <th w_index="ConverID" w_hidden="true"></th><!--配货ID-->
                                        <th w_index="ConverDeTaiID" w_hidden="true"></th><!--配货明细ID-->
                                        <th w_index="AllocateDetailID" w_hidden="true"></th><!--调拨明细ID-->
                                        <th w_index="GoodsTiaoMas">商品条码</th>
                                        <th w_index="GoodsNames">商品名称</th>
                                        <th w_index="ArtNos">货号</th>
                                        <th w_index="SpecificationsModels">规格</th>
                                        <th w_index="PackContents">包装含量</th>

                                        <th w_index="MumberOfPackages" w_render="crearViewButton">发货件数</th>
                                        <th w_index="Subdivision" w_render="crearViewText">发货细数</th>
                                        <th w_index="StockPlaceName">发货地点</th>
                                        <th w_index="EstimateUnitNames">计量单位</th>
                                        <th w_index="TaxBids">含税进价</th>
                                        <th w_index="RetailMonovalents">零售单格</th>

                                    </tr>
                                </table>
                            </div>


                            <div class="row" style="margin-top:5px;">
                                <div class="form-group">

                                    <div class="col-md-3">
                                        <div class="col-md-4 col-sm-4">
                                            <button class="btn btn-block" type="button" id="ZhiDanRen">制单人</button>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <input type="text" class="form-control" name="RegisterName" id="RegisterName" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="col-md-4">
                                            <label class="control-label">制单时间:</label>
                                        </div>
                                        <div class="col-sm-8 ">
                                            <input type="date" class="form-control" name="RegisterTime" id="RegisterTime" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="col-md-4 col-sm-4">
                                            <button class="btn btn-block" type="button" id="ZhiXingRen">执行人</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="ExamineName" id="ExamineName" />
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="col-md-4">
                                            <label class="control-label" id="ShenHeTimea">执行时间:</label>
                                        </div>
                                        <div class="col-sm-8 ">
                                            <input type="date" id="ExamineTime" class="form-control" name="ExamineTime" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top:5px;">
                                <div class="form-group">
                                    <div class="col-sm-1 col-lg-offset-3">
                                        <button class="form-control btn-block btn btn-primary" type="button" id="TianJia"><span class="glyphicon glyphicon-plus"></span> 添 加</button>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="form-control btn-block btn btn-primary" type="button" id="UpauteBtn"><span class="glyphicon glyphicon-search"></span> 查 询</button>
                                    </div>
                                   
                                    <div class="col-sm-1">
                                        <button class="form-control btn-block btn btn-success" type="button" id="BaoCunBtn" onclick="savebaoCunBtnt(true)"><span class="glyphicon glyphicon-download-alt"></span> 保 存</button>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="form-control btn-block btn btn-danger" type="button" id="DeleteBtn"><span class="glyphicon glyphicon-trash"></span> 删 除</button>
                                    </div>
                                   
                                    <div class="col-sm-1">
                                        <button class="form-control btn-block btn btn-success" type="button" id="ShenHeBtn" onclick="saveShenHeBtn(true)"><span class="glyphicon glyphicon-ok"></span> 审 核</button>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="form-control btn-block btn btn-warning" type="button" id="FangQiBtn"><span class="glyphicon glyphicon-remove"></span> 放 弃</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div><!--大row-->
    </div>


    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script src="~/Content/js/jquery.form.js"></script>
    <script src="~/Content/js/customfunction.js"></script>



    <!--付货人_员工查询窗口-->
    <div class="modal bs-example-modal-sm" id="modFuHuoYuanGong">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background:#74a4e8;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">员工查询窗口</h4>
                </div>
                <div class="modal-body">
                    <div class="row examineeInfor" style="overflow:auto;height:200px;width:590px;">
                        <table id="YuanFuHuoGongTable">
                            <tr>
                                <th w_num="total_line" width="10%">序号</th>
                                <th w_index="FuStaffID" w_hidden="true"></th>
                                <th w_index="StaffCode">编码</th>
                                <th w_index="StaffName">员工姓名</th>
                            </tr>
                        </table>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="form-group">
                            <div class="col-md-2 col-lg-offset-4">
                                <button class="form-control btn btn-primary" type="button" id="btnQueDingF">确 定</button>
                            </div>
                            <div class="col-md-2">
                                <button class="form-control btn btn-primary" type="button" id="btnQuXiao">返 回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--收货人_员工查询窗口-->
    <div class="modal bs-example-modal-sm" id="modShouHuoYuanGong">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background:#74a4e8;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">员工查询窗口</h4>
                </div>
                <div class="modal-body">
                    <div class="row examineeInfor" style="overflow:auto;height:200px;width:590px;">
                        <table id="ShouHuoYuanGongTabl">
                            <tr>
                                <th w_num="total_line" width="10%">序号</th>
                                <th w_index="StaffID" w_hidden="true"></th>
                                <th w_index="StaffCode">编码</th>
                                <th w_index="StaffName">员工姓名</th>
                            </tr>
                        </table>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="form-group">
                            <div class="col-md-2 col-lg-offset-4">
                                <button class="form-control btn btn-primary" type="button" id="btnQueDingdS">确 定</button>
                            </div>
                            <div class="col-md-2">
                                <button class="form-control btn btn-primary" type="button" id="btnQuXiaod">返 回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--制单_员工查询窗口-->
    <div class="modal bs-example-modal-sm" id="modZhiDanYuanGong">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header" style="background:#74a4e8;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">员工查询窗口</h4>
                </div>
                <div class="modal-body">
                    <div class="row examineeInfor" style="overflow:auto;height:200px;width:590px;">
                        <table id="ZhiDanYuanGongTable">
                            <tr>
                                <th w_num="total_line" width="10%">序号</th>
                                <th w_index="StaffID" w_hidden="true"></th>
                                <th w_index="StaffCode">编码</th>
                                <th w_index="StaffName">员工姓名</th>
                            </tr>
                        </table>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="form-group">
                            <div class="col-md-2 col-lg-offset-4">
                                <button class="form-control btn btn-primary" type="button" id="btnQueDingZhD">确 定</button>
                            </div>
                            <div class="col-md-2">
                                <button class="form-control btn btn-primary" type="button" id="btnQuXiao">返 回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--执行人_员工查询窗口-->
    <div class="modal bs-example-modal-sm" id="modYuanGongZhiXing">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background:#74a4e8;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">员工查询窗口</h4>
                </div>
                <div class="modal-body">
                    <div class="row examineeInfor" style="overflow:auto;height:200px;width:590px;">
                        <table id="YuanGongTableZhiXing">
                            <tr>
                                <th w_num="total_line" width="10%">序号</th>
                                <th w_index="StaffID" w_hidden="true"></th>
                                <th w_index="StaffCode">编码</th>
                                <th w_index="StaffName">员工姓名</th>
                            </tr>
                        </table>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="form-group">
                            <div class="col-md-2 col-lg-offset-4">
                                <button class="form-control btn btn-primary" type="button" id="btnQueDingdZX">确 定</button>
                            </div>
                            <div class="col-md-2">
                                <button class="form-control btn btn-primary" type="button" id="btnQuXiaod">返 回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--商品配货批次'查询窗口-->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modShangPinPiCi">
        <div class="modal-dialog modal-lg" style="width:1000px;">
            <div class="modal-content">
                <div class="modal-header" style="background:#74a4e8;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">调整商品配货批次数据</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="background:#efebeb;">

                        <div class="col-lg-12">
                            <div class="col-lg-4 col-md-4 col-sm-4 left">
                                <div class="row left-titles" id="textContent" style="overflow:auto">
                                    <div class="stem" id="stem">
                                        <table id="YiaoZhengTableLeft" style="margin-top:2px;width:900px;">
                                            <tr>
                                                <th w_num="total_line">序号</th>
                                                <th w_index="ConverID" w_hidden="true">配货ID</th>
                                                <th w_index="GoodsIDs" w_hidden="true">商品ID</th>
                                                <th w_index="GoodsNames">商品名称</th>
                                                <th w_index="ConverDeTaiID" w_hidden="true"></th><!--进仓明细ID-->

                                                <th w_index="">配货数量</th>


                                                <th w_index="StockPlaceName">拔出部门</th>
                                                <th w_index="PackContents">包装含量</th>
                                                <th w_index="GoodsTiaoMas">商品条码</th>
                                                <th w_index="TaxBids">含税进价</th>
                                                <th w_index="RetailMonovalents">零售单价</th>
                                                <th w_index="SpecificationsModels">规格</th>
                                                <th w_index="EstimateUnitNames">计量单位</th>
                                                <th w_index="ArtNos">商品货号</th>

                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-8 col-md-8 col-sm-8 right">
                                <div class="row left-titles" id="textContent" style="overflow:auto;margin-left:9px;">
                                    <div class="stem" id="stem">
                                        <table id="YiaoZhengTablerihgt" style="margin-top:2px;width:1300px;">
                                            <tr>
                                                <th w_index="ConverID" w_hidden="true">配货ID</th>
                                                <th w_index="GoodsIDs" w_hidden="true">商品ID</th>
                                                <th w_index="ConverDeTaiID" w_hidden="true"></th><!--进仓明细ID-->
                                                <th w_index="" w_render="crearViePiCi">批次</th>

                                                <th w_index="TaxBids">不含税进价</th>
                                                <th w_index="TaxBids">含税进价</th>
                                                <th w_index="MumberOfPackages">结存数量</th>
                                                <th w_index="RetailMonovalents">零售单价</th>
                                                <th w_index="SpecificationsModels">规格</th>
                                                <th w_index="GoodsNames">商品名称</th>
                                                <th w_index="StockPlaceName">拔出部门</th>
                                                <th w_index="PackContents">包装含量</th>
                                                <th w_index="GoodsTiaoMas">商品条码</th>
                                                <th w_index="EstimateUnitNames">计量单位</th>
                                                <th w_index="ArtNos">商品货号</th>

                                            </tr>
                                        </table>
                                    </div>
                                    <div class="option" id="option">
                                        <div id="tTitleOptional" class="col-sm-12"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row" style="margin-top:30px;">
                        <div class="form-group">
                            <div class="col-md-3">
                                <button class="form-control btn btn-warning" type="button" id="ZiDongShengChengPiCi">自动生成商品全部配货批次</button>
                            </div>
                            <div class="col-md-2 col-lg-offset-2">
                                <button class="form-control btn btn-success" type="button" id="btnOk"><span class="glyphicon glyphicon-ok">确 认</span></button>
                            </div>
                            <div class="col-md-2">
                                <button class="form-control btn btn-primary" type="button" id="btnQuXiao"><span class="glyphicon glyphicon-remove">取 消</span></button>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--批量选商品''查询窗口-->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modPiLiangGoods">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background:#74a4e8;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">商品查询窗口</h4>
                </div>
                <div class="modal-body">
                    <div class="row table-responsive" style="overflow:auto;height:400px;">
                        <table id="PiLiangGoodsTable" style="margin-top:2px;width:1100px;">
                            <tr>
                                <th w_num="total_line">序号</th>
                                <th w_index="GoodsIDs" w_hidden="true">商品ID</th>

                                <th w_index="GoodsCodes">商品代码</th>
                                <th w_index="GoodsTiaoMas">商品条码</th>
                                <th w_index="GoodsNames">商品名称</th>
                                <th w_index="ArtNos">货号</th>
                                <th w_index="SpecificationsModels">规格</th>
                                <th w_index="PackContents">包装含量</th>

                                <th w_index="MumberOfPackages">入库件数</th>
                                <th w_index="Subdivision">入库细数</th>

                                <th w_index="EstimateUnitNames">计量单位</th>
                                <th w_index="TaxBids">含税进价</th>
                                <th w_index="RetailMonovalents">零售单格</th>

                            </tr>
                        </table>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="form-group">
                            <div class="col-md-2 col-lg-offset-4">
                                <button class="form-control btn btn-success" type="button" id="btnXuanGoodels"><span class="glyphicon glyphicon-pencil">选 择</span></button>
                            </div>

                            <div class="col-md-2">
                                <button class="form-control btn btn-primary" type="button" id="btnQuXiaodJ">返 回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--配货单''查询窗口-->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modPeiHuo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background:#74a4e8;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">配货单查询窗口</h4>
                </div>
                <div class="modal-body">
                    <div class="row table-responsive" style="overflow:auto;height:370px;">
                        <table id="PeiHuoTable" style="margin-top:2px;width:1000px;">
                            <tr>
                                <th w_num="total_line">序号</th>
                                <th w_index="ConverID" w_hidden="true">配货ID</th>

                                <th w_index="P_Remember">配货单编号</th>
                                <th w_index="payName">实物付货人</th>
                                <th w_index="furlName">实物收货人</th>
                                <th w_index="SpouseBRanchName">配货部门</th>
                                <th w_index="StockPlaceName">收货部门</th>
                                <th w_index="Remarks">备注</th>

                            </tr>
                        </table>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="form-group">
                            <div class="col-md-2 col-lg-offset-4">
                                <button class="form-control btn btn-success" type="button" id="btnQueDingJ"><span class="glyphicon glyphicon-pencil">选 择</span></button>
                            </div>
                           
                            <div class="col-md-2">
                                <button class="form-control btn btn-primary" type="button" id="btnQuXiaodJ">返 回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--调拨单''查询窗口-->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modDiaoBaDan">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background:#74a4e8;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">调拨单查询窗口</h4>
                </div>
                <div class="modal-body">
                    <div class="row table-responsive" style="overflow:auto;height:370px;">
                        <table id="DiaoBaTable" style="margin-top:2px;width:1000px;">
                            <tr>
                                <th w_num="total_line">序号</th>
                                <th w_index="AllocateID" w_hidden="true">调拨ID</th>
                                <th w_index="converIDs" w_hidden="true">配货ID</th>
                                <th w_index="Remember">调拨单编号</th>
                                <th w_index="payName">实物付货人</th>
                                <th w_index="furlName">实物收货人</th>
                                <th w_index="SpouseBRanchName">发货部门</th>
                                <th w_index="SpouseBRanchNsame">收货部门</th>
                                <th w_index="Remarks">备注</th>

                                <th w_index="RegisterName">制单人</th>
                                <th w_index="registerTime">制单时间</th>


                            </tr>
                        </table>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="form-group">
                            <div class="col-md-2 col-lg-offset-3">
                                <button class="form-control btn btn-success" type="button" id="btnQueDingJn"><span class="glyphicon glyphicon-pencil">修 改</span></button>
                            </div>
                            <div class="col-md-2">
                                <button class="form-control btn btn-success" type="button" id="btnShenHeJhx"><span class="glyphicon glyphicon-pencil">审 核</span></button>
                            </div>
                            <div class="col-md-2">
                                <button class="form-control btn btn-primary" type="button" id="btnQuXiaodJ">返 回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--保存-->
    <script>
        var JieShouShangPinShuZu = new Array();
        var JiShangPiID = new Array();
        var JiRuJianShu = new Array();
        var JiRuXiShu = new Array();
        var JieMingXiIDShuZu = new Array();
      
        var PiHaoShuZu = new Array();
        var ShouHuoStallctID;

        $(document).ready(function () {

            //发货部门
            $.post("/ShangPinJinCang/LianYingJinCang/CaiGouXiaLa", function (data) {
                selectLoadData("SpouseBRanchID", data);
            });

            //收货部门
            $.post("/ShangPinJinCang/LianYingJinCang/CaiGouXiaLa", function (data) {
                selectLoadData("SpouseBRanchIDtwo", data);
            });


            //记录编号
            $.getJSON("/DiaoBaDan/DiaoBaDanChuLi/getEmpCodef", function (data) {
                $("#Remember").val(data);
            });

            //查询登记员工table(付货人)一
            YuanFuHuoGongTable = $.fn.bsgrid.init('YuanFuHuoGongTable', {
                 url: '/ShangPinJinCang/JingCang/SelectYuanGong',
                autoLoad: false,
                stripeRows: true,
                rowHoverColor: true,
                rowSelectedColor: true,
                pageSize: 4,
                pageSizeSelect: true,
                pagingLittleToolbar: true,
                pagingToolbarAlign: "left",
                event: {//事件
                    customRowEvents: {//自定义行事件
                        dblclick: function (record, rowIndex, trObj, options) {//点击事件
                            ShouHuoStallctID = record.StaffID;
                            if (ShouHuoStallctID > 0) {
                                $.post("/ShangPinJinCang/JingCang/XuanZeYuanGong", { StaffID: ShouHuoStallctID }, function (data) {
                                    $("#payName").val(data.StaffName);//姓名
                                    $("#modFuHuoYuanGong").modal('hide');
                                });
                            }
                        }
                    }
                }
            });
            YuanFuHuoGongTable.search();


            //查询登记员工table（收货人）二
            ShouHuoYuanGongTabl = $.fn.bsgrid.init('ShouHuoYuanGongTabl', {
                url: '/ShangPinJinCang/JingCang/SelectYuanGong',
                autoLoad: false,
                stripeRows: true,
                rowHoverColor: true,
                rowSelectedColor: true,
                pageSize: 4,
                pageSizeSelect: true,
                pagingLittleToolbar: true,
                pagingToolbarAlign: "left",
                
                event: {//事件
                    customRowEvents: {//自定义行事件
                        dblclick: function (record, rowIndex, trObj, options) {//点击事件
                            ShouHuoStallctID = record.StaffID;
                            if (ShouHuoStallctID > 0) {
                                $.post("/ShangPinJinCang/JingCang/XuanZeYuanGong", { StaffID: ShouHuoStallctID }, function (data) {
                                   $("#furlName").val(data.StaffName);//姓名
                                    $("#modShouHuoYuanGong").modal('hide');
                                });
                            }
                        }
                    }
                }

            });
            ShouHuoYuanGongTabl.search();

            //查询员工table（制单人）三
            ZhiDanYuanGongTable = $.fn.bsgrid.init('ZhiDanYuanGongTable', {
                url: '/ShangPinJinCang/JingCang/SelectYuanGong',
                autoLoad: false,
                stripeRows: true,
                rowHoverColor: true,
                rowSelectedColor: true,
                pageSize: 4,
                pageSizeSelect: true,
                pagingLittleToolbar: true,
                pagingToolbarAlign: "left",

                event: {//事件
                    customRowEvents: {//自定义行事件
                        dblclick: function (record, rowIndex, trObj, options) {//点击事件
                            ShouHuoStallctID = record.StaffID;
                            if (ShouHuoStallctID > 0) {
                                $.post("/ShangPinJinCang/JingCang/XuanZeYuanGong", { StaffID: ShouHuoStallctID }, function (data) {
                                    $("#RegisterName").val(data.StaffName);//员工姓名
                                    $("#modZhiDanYuanGong").modal('hide');
                                });
                            }
                        }
                    }
                }

            });
            ZhiDanYuanGongTable.search();

            //查询员工table（执行人）四
            YuanGongTableZhiXing = $.fn.bsgrid.init('YuanGongTableZhiXing', {
                url: '/ShangPinJinCang/JingCang/SelectYuanGong',
                autoLoad: false,
                stripeRows: true,
                rowHoverColor: true,
                rowSelectedColor: true,
                pageSize: 4,
                pageSizeSelect: true,
                pagingLittleToolbar: true,
                pagingToolbarAlign: "left",
                
                event: {//事件
                    customRowEvents: {//自定义行事件
                        dblclick: function (record, rowIndex, trObj, options) {//点击事件
                            ShouHuoStallctID = record.StaffID;
                            if (ShouHuoStallctID > 0) {
                                $.post("/ShangPinJinCang/JingCang/XuanZeYuanGong", { StaffID: ShouHuoStallctID }, function (data) {
                                    $("#ExamineName").val(data.StaffName);//员工姓名
                                    $("#modYuanGongZhiXing").modal('hide');
                                });
                            }
                        }
                    }
                }

            });
            YuanGongTableZhiXing.search();

            //主界面商品
            ShangPin = $.fn.bsgrid.init('ShangPin', {
                //url: '/ExaminationManagement/SetExaminee/SelectStudentAll',
                autoLoad: false,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过变色
                pageSize: 4,
                pageSizeSelect: false,//是否选择分页页数下拉框
                pagingLittleToolbar: true,//精简的图标按钮分页工具条
                pagingToolbarAlign: "left",//分页工具条的显示位置
            });


            //主界面商品
            WarserHouseTable = $.fn.bsgrid.init('WarserHouseTable', {
                url: '/P_PeiHuo/PeiHuoDan/SelectWareHou',
                autoLoad: false,
                stripeRows: true,
                rowHoverColor: true,
                pageSize: 4,
                pageSizeSelect: false,
                pagingLittleToolbar: true,
                pagingToolbarAlign: "left",
            });
            WarserHouseTable.search();


            //查询配货单
            PeiHuoTable = $.fn.bsgrid.init('PeiHuoTable', {
                url: '/DiaoBaDan/DiaoBaDanChuLi/SelectConverList',
                autoLoad: false,
                stripeRows: true,
                rowHoverColor: true,
                pageSize: 8,
                pageSizeSelect: false,
                pagingLittleToolbar: true,
                pagingToolbarAlign: "left",

                event: {//事件
                    customRowEvents: {//自定义行事件
                        dblclick: function (record, rowIndex, trObj, options) {//点击事件
                            ConverIDQuan = record.ConverID;
                            if (ConverIDQuan > 0) {
                                $.post("/DiaoBaDan/DiaoBaDanChuLi/BangDingWareHou", { converID: ConverIDQuan }, function (data) {
                                    $("#converID").val(data[0].ConverID);//配货ID.

                                });
                                PiLiangGoodsTable.search({ converIDGoodelID: ConverIDQuan });
                                $("#modPeiHuo").modal('hide');
                            }
                        }
                    }
                }
                
            });
            PeiHuoTable.search();

            //查询调拨单
            DiaoBaTable = $.fn.bsgrid.init('DiaoBaTable', {
                url: '/DiaoBaDan/DiaoBaDanChuLi/SelectAlltoc',
                autoLoad: false,
                stripeRows: true,
                rowHoverColor: true,
                pageSize: 8,
                pageSizeSelect: false,
                pagingLittleToolbar: true,
                pagingToolbarAlign: "left",
                event: {//事件
                    customRowEvents: {//自定义行事件
                        dblclick: function (record, rowIndex, trObj, options) {//点击事件
                            var ShouHuoSfdtallctID = record.AllocateID;
                            if (ShouHuoSfdtallctID > 0) {
                                layer.alert("不作双击选择，请单击选择修改或审核！", { icon: 5, title: '温馨小提示：' });
                            }
                        }
                    }
                }
            });
            DiaoBaTable.search();

            //数组初始化为0,防止报错
            var a = 0;
            var b = 0;
            JieShouID.push(a);
            JieWarhou.push(b);
        });
        //计算
        function fangfa() {
            var rowIndex = ShangPin.getSelectedRowIndex();
            if (rowIndex > -1) {

                var GoodsIDs = ShangPin.getColumnValue(rowIndex, "GoodsIDs");//商品ID
                var AllocateMingXiID = ShangPin.getColumnValue(rowIndex, "AllocateDetailID");//调拨明细ID

                var PackInfos = ShangPin.getColumnValue(rowIndex, "PackContents");//包装含量
                var RuKuJianShu = $("#RuKuJianShu" + GoodsIDs).val();//输入件数
                if (RuKuJianShu > 0) {

                    if (parseInt(RuKuJianShu) > parseInt(PackInfos)) {
                        layer.alert("抱歉！输入的件数不能大于包装含量", { icon: 5, title: '温馨小提示：' });
                    }
                    else {
                        var RuKuXiShu1 = RuKuJianShu * PackInfos;
                        $("#RuKuXiShu" + GoodsIDs).val(RuKuXiShu1);

                        if (AllocateIDQuan > 0) {
                            JieShouShangPinShuZu.push(([GoodsIDs, RuKuJianShu, RuKuXiShu1, AllocateMingXiID]));//修改的

                            for (var i = 0; i < JieShouShangPinShuZu.length; i++) {
                                var GoodsIDsAF = JieShouShangPinShuZu[i][0];

                                if (GoodsIDsAF == GoodsIDs) {

                                    var K = JieShouShangPinShuZu[i][2];
                                    var C = JieShouShangPinShuZu[i][1];
                                    if (K != RuKuXiShu1 || C != RuKuJianShu || K == undefined) {
                                        JieShouShangPinShuZu.splice(i, 1);//去掉（不需要了(重复的)ID）
                                    }
                                }
                            }
                        }
                        else {
                            JieShouShangPinShuZu.push(([GoodsIDs, RuKuJianShu, RuKuXiShu1]));//新增的
                            for (var i = 0; i < JieShouShangPinShuZu.length; i++) {
                                var GoodsIDsAF = JieShouShangPinShuZu[i][0];

                                if (GoodsIDsAF == GoodsIDs) {

                                    var K = JieShouShangPinShuZu[i][2];
                                    var C = JieShouShangPinShuZu[i][1];
                                    if (K != RuKuXiShu1 || C != RuKuJianShu || K == undefined) {
                                        JieShouShangPinShuZu.splice(i, 1);//去掉（不需要了(重复的)ID）
                                    }
                                }
                            }
                        }
                    }
                }
            }
            else {
                layer.alert("请选中商品单据信息", { icon: 5, title: '温馨小提示：' });
            }
            
        }


        //点击 保 存()
        function savebaoCunBtnt(state) {
            if (AllocateIDQuan > 0) {
                for (var i = 0; i < JieShouShangPinShuZu.length; i++) {
                    var A = JieShouShangPinShuZu[i][0];
                    var B = JieShouShangPinShuZu[i][1];
                    var D = JieShouShangPinShuZu[i][2];
                    var E = JieShouShangPinShuZu[i][3];

                    JiShangPiID.push(A);
                    JiRuJianShu.push(B);
                    JiRuXiShu.push(D);
                    JieMingXiIDShuZu.push(E);
                }
               
            }
            else {
                if (JieShouShangPinShuZu.length > 0) {
                    for (var i = 0; i < JieShouShangPinShuZu.length; i++) {
                        var A = JieShouShangPinShuZu[i][0];
                        var B = JieShouShangPinShuZu[i][1];
                        var D = JieShouShangPinShuZu[i][2];

                        JiShangPiID.push(A);
                        JiRuJianShu.push(B);
                        JiRuXiShu.push(D);

                    }
                    if (PeiZaiPiCiHao.length > 0) {
                        for (var i = 0; i < PeiZaiPiCiHao.length; i++) {
                            var Pi = PeiZaiPiCiHao[i][1];
                            PiHaoShuZu.push(Pi);
                        }
                    }
                    else {
                        layer.alert("请生成商品批次号", { icon: 6, title: '温馨小提示：' });
                    }

                }
                else {
                    layer.alert("请输入发货件数", { icon: 6, title: '温馨小提示：' });
                }
            }


           
            
            var ConverID = ConverIDQuan;//配货ID
                var Remember = $("#Remember").val();//记录编号
                var SpouseBRanchID = $("#SpouseBRanchID").val();//发货部门
                var SpouseBRanchIDtwo = $("#SpouseBRanchIDtwo").val();//收货部门
                var payNamel = $("#payName").val();//实物发货人
                var furlNamel = $("#furlName").val();//实物收货人
                var Remarks = $("#Remarks").val();//备注
                var RegisterName = $("#RegisterName").val();//制单人
                var RegisterTime = $("#RegisterTime").val();//制单时间


                if (AllocateIDQuan > 0) {
                    if (ConverID > 0 && Remember != '' && SpouseBRanchID > 0 && SpouseBRanchIDtwo > 0 && payNamel != '' &&
                  furlNamel != '' && RegisterName != '' && RegisterTime != '') {
                        layer.confirm("修改调拨单？", {
                            icon: 3,
                            btn: ['确定', '取消']
                            //按钮
                        }, function (layerIndex) {
                            layer.close(layerIndex);//关闭提示框 
                            $.post("/DiaoBaDan/DiaoBaDanChuLi/UptrnPeiZaiDan?JiShangPiID=" + JiShangPiID + "&JiRuJianShu=" + JiRuJianShu + "&JiRuXiShu=" + JiRuXiShu + "&JieMingXiIDShuZu=" + JieMingXiIDShuZu, {
                                AllocateID: AllocateIDQuan,
                                ConverID: ConverID,
                                Remember: Remember,
                                payNamel: payNamel,
                                furlNamel: furlNamel,
                                SpouseBRanchID: SpouseBRanchID,
                                SpouseBRanchIDtwo: SpouseBRanchIDtwo,
                                Remarks: Remarks,
                                RegisterName: RegisterName,
                                RegisterTime: RegisterTime,
                            }, function (mess) {
                                if (mess == "succsee") {
                                    layer.alert("修改成功", { icon: 6, title: '温馨小提示：' });
                                    document.location.href = "/DiaoBaDan/DiaoBaDanChuLi/DiaoBaDan";
                                }

                            });

                        });
                    }
                    else {
                        layer.msg("请填写完整的数据！", { icon: 0, skin: "layui-layer-molv" });
                    }
                }
                else
                {
                    if (ConverID > 0 && Remember != '' && SpouseBRanchID > 0 && SpouseBRanchIDtwo > 0 && payNamel != '' &&
                 furlNamel != '' && RegisterName != '' && RegisterTime != '') {
                        layer.confirm("新增调拨单？", {
                            icon: 3,
                            btn: ['确定', '取消']
                            //按钮
                        }, function (layerIndex) {
                            layer.close(layerIndex);//关闭提示框 
                            $.post("/DiaoBaDan/DiaoBaDanChuLi/InterDiaoBa?JiShangPiID=" + JiShangPiID + "&JiRuJianShu=" + JiRuJianShu + "&JiRuXiShu=" + JiRuXiShu + "&PiHaoShuZu=" + PiHaoShuZu, {
                                ConverID: ConverID,
                                Remember: Remember,
                                payNamel: payNamel,
                                furlNamel: furlNamel,
                                SpouseBRanchID: SpouseBRanchID,
                                SpouseBRanchIDtwo: SpouseBRanchIDtwo,
                                Remarks: Remarks,
                                RegisterName: RegisterName,
                                RegisterTime: RegisterTime,
                            }, function (mess) {
                                if (mess == "succsee") {
                                    layer.alert("新增成功", { icon: 6, title: '温馨小提示：' });
                                    document.location.href = "/DiaoBaDan/DiaoBaDanChuLi/DiaoBaDan";
                                }
                                else {
                                    layer.alert("商品录入不完整 或 是否未录入批号", { icon: 6, title: '温馨小提示：' });
                                }

                            });

                        });
                    }
                    else {
                        layer.msg("请填写完整的数据！", { icon: 0, skin: "layui-layer-molv" });
                    }
                }
               
        }


        //点击 审核()
        function saveShenHeBtn(state) {
            var ConverID = ConverIDQuan;//配货ID
            var Remember = $("#Remember").val();//记录编号
            var SpouseBRanchID = $("#SpouseBRanchID").val();//发货部门
            var SpouseBRanchIDtwo = $("#SpouseBRanchIDtwo").val();//收货部门
            var payNamel = $("#payName").val();//实物发货人
            var furlNamel = $("#furlName").val();//实物收货人
            var Remarks = $("#Remarks").val();//备注
            var RegisterName = $("#RegisterName").val();//制单人
            var RegisterTime = $("#RegisterTime").val();//制单时间
            var ExamineName = $("#ExamineName").val();//审核人
            var ExecuteTime = $("#ExamineTime").val();//审核时间


            if (AllocateIDQuan > 0) {
                if (ConverID > 0 && Remember != '' && SpouseBRanchID > 0 && SpouseBRanchIDtwo > 0 && payNamel != '' &&
              furlNamel != '' && RegisterName != '' && RegisterTime != '' && ExamineName != '' && ExamineTime!='') {
                    layer.confirm("是否审核？", {
                        icon: 3,
                        btn: ['确定', '取消']
                        //按钮
                    }, function (layerIndex) {
                        layer.close(layerIndex);//关闭提示框 
                        $.post("/DiaoBaDan/DiaoBaDanChuLi/ShenHeZaiDan?state=" + state, {
                            AllocateID: AllocateIDQuan,
                            ConverID: ConverID,
                            Remember: Remember,
                            payNamel: payNamel,
                            furlNamel: furlNamel,
                            SpouseBRanchID: SpouseBRanchID,
                            SpouseBRanchIDtwo: SpouseBRanchIDtwo,
                            Remarks: Remarks,
                            RegisterName: RegisterName,
                            RegisterTime: RegisterTime,
                            ExamineName: ExamineName,
                            ExecuteTime: ExecuteTime,
                        }, function (mess) {
                            layer.alert("审核成功", { icon: 6, title: '温馨小提示：' });
                            if (mess == "succsee") {
                                if (mess.returnJson) {
                                    if (data.State == true || data.State == "true") {
                                    }
                                }
                            }
                            document.location.href = "/DiaoBaDan/DiaoBaDanChuLi/DiaoBaDan";

                        });

                    });
                }
                else {
                    layer.msg("请填写完整的数据！", { icon: 0, skin: "layui-layer-molv" });
                }
            }
            

        }


        //删除
        $("#DeleteBtn").click(function () {
            
            if (AllocateIDQuan > 0) {
                layer.confirm("是否删除此单数据？", {
                    icon: 3,
                    btn: ['确定', '取消']
                    //按钮
                }, function (layerIndex) {
                    layer.close(layerIndex);//关闭提示框

                    $.post("/DiaoBaDan/DiaoBaDanChuLi/DeleteWareHert", { allocateID: AllocateIDQuan }, function (msg) {
                        if (msg == "success") {
                            layer.alert("删除成功", { icon: 6, title: '温馨小提示：' });
                            document.location.href = "/DiaoBaDan/DiaoBaDanChuLi/DiaoBaDan";
                        }
                        else {
                            layer.alert("删除失败", { icon: 6, title: '温馨小提示：' });
                        }
                    });

                });
            }
            else {
                layer.alert("请选择已保存的数据进行删除", { icon: 6, title: '温馨小提示：' });
            }
        });


    </script>


    <!--按钮部分-->
    <script>
        var ConverIDQuan;//配货ID
        var JieShouGoodelShuZu = new Array();
        var JieShouID = new Array();
        var JieWarhou = new Array();
        var PeiZaiShuLiangZu = new Array();//接收配载数量数组
        var Tab_ShangPin;
      
        var YiaoZhengTableLeft;
        var YiaoZhengTablerihgt;
        var PeiZaiPiCiHao = new Array();
        var GoodsIDsQuan;
        var AllocateIDQuan;
        var ShangPinTa;
     
        var ShangPinTakkjh;
        var PiLiangGoodsTable;
   

        //查询调拨单
        $("#UpauteBtn").click(function () {
            $("#modDiaoBaDan").modal('show');
        });

        //选择调拨单（修改绑定）
        ShangPinTakkjh = $.fn.bsgrid.init('ShangPin', {
            url: '/DiaoBaDan/DiaoBaDanChuLi/SelectShangPinZhuf',
            autoLoad: false,
            stripeRows: true,
            rowHoverColor: true,
            pageSize: 4,
            pageSizeSelect: false,
            pagingLittleToolbar: true,
            pagingToolbarAlign: "left",
        });
        $("#btnQueDingJn").click(function () {
            var rowIndex = DiaoBaTable.getSelectedRowIndex();
          
            if (rowIndex > -1) {
                AllocateIDQuan = DiaoBaTable.getColumnValue(rowIndex, "AllocateID");//获取调拨ID
                ConverIDQuan = DiaoBaTable.getColumnValue(rowIndex, "converIDs");//获取ID
                $.post("/DiaoBaDan/DiaoBaDanChuLi/BangDingAlltoc", { allocateID: AllocateIDQuan }, function (data) {

                    $("#AllocateID").val(data[0].AllocateID);//
                    $("#Remember").val(data[0].Remember);//
                    $("#payName").val(data[0].payName);//
                    $("#furlName").val(data[0].furlName);//
                    $("#SpouseBRanchID").val(data[0].SpouseBRanchID);//
                    $("#SpouseBRanchIDtwo").val(data[0].SpouseBRanchIDtwo);//
                    $("#Remarks").val(data[0].Remarks);//
                    $("#RegisterName").val(data[0].RegisterName);//
                    $("#RegisterTime").val(data[0].registerTime);//
                    $("#ConverID").val(data[0].ConverID);//
                   
                });
                ShangPinTakkjh.search({ allocateID: AllocateIDQuan });
                $("#modDiaoBaDan").modal('hide');
                $("#BaoCunBtn").removeAttr("disabled");//保存按钮
                $("#PiLiangXuan").prop("disabled","true");//保存按钮
                
            }
            else {
                layer.alert("请选择数据", { icon: 6, title: '温馨小提示：' });
            }

        });


        //选择调拨单（审核绑定）
        $("#btnShenHeJhx").click(function () {
            var rowIndex = DiaoBaTable.getSelectedRowIndex();

            if (rowIndex > -1) {
                AllocateIDQuan = DiaoBaTable.getColumnValue(rowIndex, "AllocateID");//获取调拨ID
                ConverIDQuan = DiaoBaTable.getColumnValue(rowIndex, "converIDs");//获取ID
                $.post("/DiaoBaDan/DiaoBaDanChuLi/BangDingAlltoc", { allocateID: AllocateIDQuan }, function (data) {

                    $("#AllocateID").val(data[0].AllocateID);//
                    $("#Remember").val(data[0].Remember);//
                    $("#payName").val(data[0].payName);//
                    $("#furlName").val(data[0].furlName);//
                    $("#SpouseBRanchID").val(data[0].SpouseBRanchID);//
                    $("#SpouseBRanchIDtwo").val(data[0].SpouseBRanchIDtwo);//
                    $("#Remarks").val(data[0].Remarks);//
                    $("#RegisterName").val(data[0].RegisterName);//
                    $("#RegisterTime").val(data[0].registerTime);//
                    $("#ConverID").val(data[0].ConverID);//

                });
               
                ShangPinTakkjh.search({ allocateID: AllocateIDQuan });
                $("#modDiaoBaDan").modal('hide');
                $("#ShenHeBtn").removeAttr("disabled");//保存按钮

                $("#ZhiXingRen").show();//审核按钮
                $("#ExamineName").show();//审核时间
                $("#ShenHeTimea").show();//
                $("#ExamineTime").show();//

            }
            else {
                layer.alert("请选择数据", { icon: 6, title: '温馨小提示：' });
            }

        });

        //批量选商品
        PiLiangGoodsTable = $.fn.bsgrid.init('PiLiangGoodsTable', {
            url: '/DiaoBaDan/DiaoBaDanChuLi/SelectPiGoodel',
            autoLoad: false,
            stripeRows: true,
            rowHoverColor: true,
            pageSize: 7,
            pageSizeSelect: false,
            pagingLittleToolbar: true,
            pagingToolbarAlign: "left",
        });
        //选择配货（绑定）
        $("#btnQueDingJ").click(function () {
            var rowIndex = PeiHuoTable.getSelectedRowIndex();
            if (rowIndex > -1) {
                ConverIDQuan = PeiHuoTable.getColumnValue(rowIndex, "ConverID");//获取ID
                $.post("/DiaoBaDan/DiaoBaDanChuLi/BangDingWareHou", { converID: ConverIDQuan }, function (data) {
                    $("#converID").val(data[0].ConverID);//配货ID.

                });
                PiLiangGoodsTable.search({ converIDGoodelID: ConverIDQuan });
                $("#modPeiHuo").modal('hide');

            }
            else {
                layer.alert("请选择数据", { icon: 6, title: '温馨小提示：' });
            }
           
        });

        //查询配货单
        $("#TianJia").click(function () {
            $("#modPeiHuo").modal('show');
        });

        //点击批量选商品
        $("#PiLiangXuan").click(function () {
            if (ConverIDQuan > 0) {
                $("#modPiLiangGoods").modal('show');
            }
            else {
                layer.alert("请先‘添加’选择配货单信息", { icon: 6, title: '温馨小提示：' });
            }
            PiLiangGoodsTable.refreshPage();
        });

        //选择商品（绑定）
        //批量选商品
        Tab_ShangPin = $.fn.bsgrid.init('ShangPin', {
            url: '/DiaoBaDan/DiaoBaDanChuLi/BangDingPiGoodel',
            autoLoad: false,
            stripeRows: true,//隔行变色
            rowHoverColor: true,//划过变色
            pageSize: 5,
            pageSizeSelect: false,//是否选择分页页数下拉框
            pagingLittleToolbar: true,//精简的图标按钮分页工具条
            pagingToolbarAlign: "left",//分页工具条的显示位置
        });
        $("#btnXuanGoodels").click(function () {

            var rowIndex = PiLiangGoodsTable.getSelectedRowIndex();
            if (rowIndex > -1) {
                GoodsIDsQuan = PiLiangGoodsTable.getColumnValue(rowIndex, "GoodsIDs");//获取ID
                JieShouGoodelShuZu.push(([GoodsIDsQuan, ConverIDQuan]));

                for (var i = 0; i < JieShouID.length; i++) {
                    var K = JieShouID[i][0];

                    if (K > 0) {
                        JieShouID.splice(i, 1);
                    }
                }
                for (var T = 0; T < JieWarhou.length; T++) {
                    var X = JieWarhou[T][0];
                    if (X > 0) {
                        JieWarhou.splice(T, 1);
                    }
                }


                for (var i = 0; i < JieShouGoodelShuZu.length;) {
                    var A = JieShouGoodelShuZu[i][0];
                    var N = JieShouGoodelShuZu[i][1];
                    JieShouID.push(A); 
                    JieWarhou.push(N);
                    i++;

                }

                Tab_ShangPin.search({ JieShouID: JieShouID, JieWarhou: JieWarhou });
                $("#modPiLiangGoods").modal('hide');
                $("#BaoCunBtn").removeAttr("disabled");//保存按钮
               
            }
            else {
                layer.alert("请选择数据", { icon: 6, title: '温馨小提示：' });
            }
           
        });

        var YiaoZhengTableLeftfd
        //点击调整配货批次
        YiaoZhengTableLeftfd = $.fn.bsgrid.init('YiaoZhengTableLeft', {
            url: '/DiaoBaDan/DiaoBaDanChuLi/PiPeiGoodel',
            autoLoad: false,
            stripeRows: true,
            rowHoverColor: true,
            pageSize: 7,
            pageSizeSelect: false,
            pagingLittleToolbar: true,
            pagingToolbarAlign: "left",

            event: {//事件
                customRowEvents: {
                    click: function (record, rowIndex, trObj, options) {//点击事件
                        YiaoZhengTablerihgt.search("wareHouID=" + record.ConverID + "&goodsIDs=" + record.GoodsIDs);

                        var rowIndex = YiaoZhengTableLeftfd.getSelectedRowIndex();
                        if (rowIndex > -1) {
                            GoodsIDsQuan = YiaoZhengTableLeftfd.getColumnValue(rowIndex, "GoodsIDs");//商品ID


                            for (var i = 0; i < PeiZaiPiCiHao.length; i++) {
                                var Id = PeiZaiPiCiHao[i][0];
                                var PiH = PeiZaiPiCiHao[i][1];
                                if (Id == GoodsIDsQuan) {
                                    $("#ZiDongPiCiHao" + GoodsIDsQuan).val(PiH);//自动生成批次号
                                }
                            }
                        }
                    }
                }

            }
        });
        $("#ShangpinPeiHuo").click(function () {
            if (ConverIDQuan > 0) {
               

                YiaoZhengTableLeftfd.search({ JieShouID: JieShouID, JieWarhou: JieWarhou });
                $("#modShangPinPiCi").modal('show');
            }
            else {
                layer.alert("界面上暂无商品，请先添加", { icon: 6, title: '温馨小提示：' });
            }
            
        });
        //右边
        YiaoZhengTablerihgt = $.fn.bsgrid.init('YiaoZhengTablerihgt', {
            url: '/DiaoBaDan/DiaoBaDanChuLi/PiPeiGoodelright',
            autoLoad: false,
            stripeRows: true,//隔行变色
            rowHoverColor: true,//划过变色
            pageSize: 7,
            pageSizeSelect: false,//是否选择分页页数下拉框
            pagingLittleToolbar: true,//精简的图标按钮分页工具条
            pagingToolbarAlign: "left",//分页工具条的显示位置
        });


        //设置审核状态
        function bsgridSetSate(record, rowIndex, colIndex, options) {//自定义列的代码（二）
            var toVoidNo = WarserHouseTable.getRecordIndexValue(record, "ExamineNot");//与 record 有点相似（这你能拿得到ID 也就是可以把整行数据都拿到了，无需再去数据库查）
            toVoidNo = record.ExamineNot;
            if (toVoidNo == true || toVoidNo == "true") {
                return '<span style="color:cornflowerblue">已审核</span>';
            } else {
                return '<span style="color:red">未审核</span>';
            }
        }

        //设置生效状态
        function bsgridSetSategh(record, rowIndex, colIndex, options) {//自定义列的代码（二）
            var toVoidNow = WarserHouseTable.getRecordIndexValue(record, "Status");//与 record 有点相似（这你能拿得到ID 也就是可以把整行数据都拿到了，无需再去数据库查）
            toVoidNow = record.CrushRedNot;
            if (toVoidNow == true || toVoidNow == "true") {
                return '<span style="color:cornflowerblue">已冲红单</span>';
            } else {
                return '<span style="color:red">有效单</span>';
            }
        }

        //主界面商品表（一）
        //自定义table文本框
        function crearViewButton(record, rowIndex, colIndex, options) {
            if (AllocateIDQuan > 0)
            {
                return ' <input class="easyui-combotree" style="width: 100px; color: #0000FF;font-size: 20px;" value="' + record.MumberOfPackages + '" id="RuKuJianShu' + record.GoodsIDs + '" data-options="onChange:onConsignmentDepartmentCodeSelect;" onblur="fangfa()" placeholder="请输入..."/>';

            }
            else {
                var Id;
                var ShuZi;
                for (var i = 0; i < PeiZaiShuLiangZu.length; i++) {
                    Id = PeiZaiShuLiangZu[i][0];
                    ShuZi = PeiZaiShuLiangZu[i][1];
                    if (Id > 0) {
                        return ' <input class="easyui-combotree" style="width: 100px; color: #0000FF;font-size: 20px;" value="' + ShuZi + '" id="RuKuJianShu' + record.GoodsIDs + '" data-options="onChange:onConsignmentDepartmentCodeSelect;" onblur="fangfa()" placeholder="请输入..."/>';
                    }
                }
                return ' <input class="easyui-combotree" style="width: 100px; color: #0000FF;font-size: 20px;" id="RuKuJianShu' + record.GoodsIDs + '" data-options="onChange:onConsignmentDepartmentCodeSelect;" onblur="fangfa()" placeholder="请输入..."/>';
            }

        }
        //（二）
        function crearViewText(record, rowIndex, colIndex, options) {
            if (AllocateIDQuan > 0) {
                return ' <input class="easyui-combotree" value="' + record.Subdivision + '" style="width: 100px; color: #0000FF;font-size: 20px;" id="RuKuXiShu' + record.GoodsIDs + '" data-options="onChange:onConsignmentDepartmentCodeSelect;" disabled/>';
            }
            else {
                return ' <input class="easyui-combotree" style="width: 100px; color: #0000FF;font-size: 20px;" id="RuKuXiShu' + record.GoodsIDs + '" data-options="onChange:onConsignmentDepartmentCodeSelect;" onblur="fangfa()" disabled/>';
            }

        }

        //批量选商品
        //批次号
        function crearViePiCi(record, rowIndex, colIndex, options) {
            return ' <input class="easyui-combotree" style="width: 70px; color: #0000FF;font-size: 20px;" id="ZiDongPiCiHao' + record.GoodsIDs + '" data-options="onChange:onConsignmentDepartmentCodeSelect;" disabled>';
        }

        //点击自动生成
        $("#ZiDongShengChengPiCi").click(function () {
            if (GoodsIDsQuan>0) {
                $.post("/DiaoBaDan/DiaoBaDanChuLi/ZiDongPiHao?JieShouID=" + JieShouID + "&JieWarhou=" + JieWarhou, function (data) {
                    $("#ZiDongPiCiHao" + GoodsIDsQuan).val(data);//自动生成批次号
                    PeiZaiPiCiHao.push(([GoodsIDsQuan, data]));

                    for (var i = 0; i < PeiZaiPiCiHao.length; i++) {
                        var Id = PeiZaiPiCiHao[i][0];
                        var PiH = PeiZaiPiCiHao[i][1];
                        if (Id == GoodsIDsQuan) {
                            if (PiH != data && Id == GoodsIDsQuan || PiH != data) {
                                PeiZaiPiCiHao.splice(i, 1);
                            }
                        }
                    }
                });
            }
        });


      
        //点击确认
        $("#btnOk").click(function () {
            $("#modShangPinPiCi").modal('hide');
            $("#BaoCunBtn").removeAttr("disabled");//保存按钮
        });



        //按钮
        $("#ShenHeBtn").prop("disabled", "true");//审核按钮
       
        $("#BaoCunBtn").prop("disabled", "true");//保存按钮
      
        $("#ZhiXingRen").hide();//审核按钮
        $("#ExamineName").hide();//审核时间
        $("#ShenHeTimea").hide();//
        $("#ExamineTime").hide();//
    </script>

    <!--员工部分-->
    <script>
        var YuanFuHuoGongTable;//付货人
        var ShouHuoYuanGongTabl;//收货人
        var ZhiDanYuanGongTable;//制单人
        var YuanGongTableZhiXing;//执行人

        
        //付货人点击(查看) 一
        $("#ShiWuFuHuo").click(function () {
            $("#modFuHuoYuanGong").modal('show');
            YuanFuHuoGongTable.refreshPage();
        });
        //付货人关闭（收货人窗口）
        $("#btnQueDingF").click(function () {
            var rowIndex = YuanFuHuoGongTable.getSelectedRowIndex();
            if (rowIndex > -1) {
                var StaffID = YuanFuHuoGongTable.getColumnValue(rowIndex, "StaffID");//获取ID
                $.post("/ShangPinJinCang/JingCang/XuanZeYuanGong", { StaffID: StaffID }, function (data) {
                    $("#payName").val(data.StaffName);//姓名
                    $("#modFuHuoYuanGong").modal('hide');
                });
            }
        });


        //收货人点击(查看) 二
        $("#ShouHuoRen").click(function () {
            $("#modShouHuoYuanGong").modal('show');
        });
        //收货人关闭（收货人窗口）
        $("#btnQueDingdS").click(function () {
            var rowIndex = ShouHuoYuanGongTabl.getSelectedRowIndex();
            if (rowIndex > -1) {
                var StaffID = ShouHuoYuanGongTabl.getColumnValue(rowIndex, "StaffID");//获取ID
                $.post("/ShangPinJinCang/JingCang/XuanZeYuanGong", { StaffID: StaffID }, function (data) {
                    $("#furlName").val(data.StaffName);//姓名
                    $("#modShouHuoYuanGong").modal('hide');
                });
            }
        });

        //制单人点击(查看) 三
        $("#ZhiDanRen").click(function () {
            $("#modZhiDanYuanGong").modal('show');
        });
        ///制单人窗口"确定"关闭model
        $("#btnQueDingZhD").click(function () {
            var rowIndex = ZhiDanYuanGongTable.getSelectedRowIndex();//获取选中的行  注：修改模态窗 一定要加 <intpt id=OrderFormID ,hihe>
            if (rowIndex > -1) {
                var StaffID = ZhiDanYuanGongTable.getColumnValue(rowIndex, "StaffID");//获取ID
                $.post("/ShangPinJinCang/JingCang/XuanZeYuanGong", { StaffID: StaffID }, function (data) {
                    $("#RegisterName").val(data.StaffName);//员工姓名
                    $("#modZhiDanYuanGong").modal('hide');
                });
            }
            else {
                layer.alert("请选择数据", { icon: 6, title: '温馨小提示：' });
            }
        });


        //执行人点击(查看) 四
        $("#ZhiXingRen").click(function () {
            $("#modYuanGongZhiXing").modal('show');
        });
        //执行人 确定"关闭model
        $("#btnQueDingdZX").click(function () {
            var rowIndex = YuanGongTableZhiXing.getSelectedRowIndex();//获取选中的行  注：修改模态窗 一定要加 <intpt id=OrderFormID ,hihe>
            if (rowIndex > -1) {
                var StaffID = YuanGongTableZhiXing.getColumnValue(rowIndex, "StaffID");//获取ID
                $.post("/ShangPinJinCang/JingCang/XuanZeYuanGong", { StaffID: StaffID }, function (data) {
                    $("#ExamineName").val(data.StaffName);//员工姓名
                    $("#modYuanGongZhiXing").modal('hide');
                });
            }
            else {
                layer.alert("请选择数据", { icon: 6, title: '温馨小提示：' });
            }
        });

        //放弃
        $("#FangQiBtn").click(function () {
            document.location.href = "/DiaoBaDan/DiaoBaDanChuLi/DiaoBaDan";
        });

        //点击关闭
        $("#Colse").click(function () {
            $('body').remove();
        });

       
    </script>

</body>
</html>
