
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_blue.min.css" rel="stylesheet" />  
    <title>联营商品状态变更</title>
    <style type="text/css">
        .container {
            width: 98%;
            padding-top: 4px;
        }

        .panel-heading {
            font-size: 16px;
        }

        .panel-body {
            padding: 0;
            border-left: 3px solid #377ab7;
            border-bottom: 3px solid #377ab7;
            border-right: 3px solid #377ab7;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row" id="zhuangtaibiangeng">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <span style="padding-left:14px;">自营商品状态变更</span>
                    </div>
                </div>
                <div class="panel-body" style="width:100%;height:550px; background:#f0edf1;">
                    <form class="form-horizontal" role="form">
                        <div class="form-group" style="margin-top:5px;">
                            <label class="col-md-1 col-sm-1 control-label reset" style="margin-top:15px;">商品代码</label>
                            <div class="col-md-2 col-sm-1 reset" style="margin-top:15px;">
                                <input type="text" class="form-control" name="GoodsCode" id="SGoodsCode">
                            </div>
                            <label class="col-md-1 col-sm-1 control-label reset" style="margin-top:15px;">商品状态</label>
                            <div class="col-md-2 col-sm-1 reset" style="margin-top:15px;">
                                <select class="form-control" name="GoodsStatusName" id="SGoodsStatusID"></select>
                            </div>
                            <label class="col-md-1 col-sm-1 control-label reset" style="margin-top:15px;">经营季节</label>
                            <div class="col-md-2 col-sm-1 reset" style="margin-top:15px;">
                                <select class="form-control" name="GoodsSeasonName" id="SGoodsSeasonID"></select>
                            </div>
                            <div class="col-md-1 col-sm-1 reset" style="margin-top:15px;">
                                <button type="button" class="btn btn-primary form-control" id="btnSelect">
                                    <span class="glyphicon glyphicon-zoom-out"></span> 查询
                                </button>
                            </div>
                        </div>
                        <table id="tabGengGaiZhaungTai" style="width:100%;">
                            <tr>
                                <th w_check="true"></th>
                                <th w_index="GoodsID" w_hidden="true">GoodsID</th>
                                <th w_index="GoodsCode">商品代码</th>
                                <th w_index="GoodsName">商品名称</th>
                                <th w_index="GoodsStatusName">商品状态</th>
                                <th w_index="GoodsChopName">商标品牌</th>
                                <th w_index="SpecificationsModel">规格型号</th>
                                <th w_index="RetailMonovalent">零售单价</th>
                                <th w_index="EstimateUnitName">计量单位</th>
                                <th w_index="GoodsTiaoMa">商品条码</th>
                            </tr>
                        </table>
                        <div class="form-group" style="margin-top:20px;">
                            <label class="col-md-2 col-sm-1 control-label reset" style="margin-top:-7px;">请选择变更状态：</label>
                            <div class="col-md-1 col-sm-1 reset">
                                <input type="radio" name="GoodsStatusName" value="正常商品" /><label class="setGoodsStatus">正常商品</label>
                            </div>
                            <div class="col-md-1 col-sm-1 reset">
                                <input type="radio" name="GoodsStatusName" value="淘汰商品" /><label class="setGoodsStatus">淘汰商品</label>
                            </div>
                            <div class="col-md-1 col-sm-1 reset">
                                <input type="radio" name="GoodsStatusName" value="暂停商品" /><label class="setGoodsStatus">暂停商品</label>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:25px;">
                            <div class="col-sm-1 col-sm-offset-5 reset">
                                <button type="button" class="btn btn-success form-control" id="btnQueDing">
                                    <span class="glyphicon glyphicon-ok"></span> 确认
                                </button>
                            </div>
                            <div class="col-sm-1 reset">
                                <button type="button" class="btn btn-danger form-control" id="btnTuiChu">
                                    <span class="glyphicon glyphicon-off"></span> 退出
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    @*页面加载*@
    <script type="text/javascript">
        var tabGengGaiZhaungTai;
        var goodsID = 0;
        $(document).ready(function () {
            tabGengGaiZhaungTai = $.fn.bsgrid.init('tabGengGaiZhaungTai', {
                url: '/ShangPinGuanLi/LianYinShangPinGuanLi/SelectHuoQuGengGaiShuJu',
                autoLoad: false,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                rowSelectedColor: true,
                pageSize: 10,
                pageSizeSelect: false,//是否选择分页页数下拉框
                pagingLittleToolbar: true,//精简的图标按钮分页工具条
                pagingToolbarAlign: "left",//分页工具条的显示位置               
            });
            tabHuoQuGengGaiShuJu();

            //商标状态
            $.post("/ShangPinGuanLi/LianYinShangPinGuanLi/SelectGoodsStatusID2", function (data) {
                selectLoadData("SGoodsStatusID", data);
            });
            //经营季节
            $.post("/ShangPinGuanLi/LianYinShangPinGuanLi/GSelectGoodsSeasonID", function (data) {
                selectLoadData("SGoodsSeasonID", data);
            });
            //更改商标状态
            $.post("/ShangPinGuanLi/LianYinShangPinGuanLi/SelectGoodsStatusID3", function (data) {
                selectLoadData("GoodsStatusID1", data);
            });
        });

        //查询按钮
        $("#btnSelect").click(function () {
            tabHuoQuGengGaiShuJu();
        });

        //表格条件查询
        function tabHuoQuGengGaiShuJu() {
            var supplierName = $("#SSupplierName").val();
            var hostContractNumber = $("#SHostContractNumber").val();
            var goodsCode = $("#SGoodsCode").val();
            var goodsStatusID = $("#SGoodsStatusID").val();
            if (goodsStatusID == undefined || goodsStatusID == "") {
                goodsStatusID = 0;
            }
            var goodsSeasonID = $("#SGoodsSeasonID").val();
            if (goodsSeasonID == undefined || goodsSeasonID == "") {
                goodsSeasonID = 0;
            }

            tabGengGaiZhaungTai.search("goodsCode=" + goodsCode + "&goodsStatusID=" + goodsStatusID + "&goodsSeasonID=" + goodsSeasonID);
        }

        //取消按钮
        $("#btnQuXiao").click(function(){
            document.location.href = "/ShangPinGuanLi/LianYinShangPinGuanLi/LianYinShangPinZhuangTaiBianGeng";        
        })

        //页面关闭按钮
        $(function () {          
            $("#btnTuiChu").click(function () {
                $("#zhuangtaibiangeng").hide();
            });
        });

    </script>

    @*修改商标状态*@
    <script type="text/javascript">
        //便利循环选中的check
        function getCheckedRecords() {
            var records = new Array();
            $("#tabGengGaiZhaungTai tr").each(function () {
                //判断获取选中当前点击的行
                if ($(this).find('td:eq(0)>input:checked').length == 1) {
                    //把选中的行保存到数组中
                    records[records.length] = tabGengGaiZhaungTai.getRowRecord($(this));//getRowRecord()根据行dom对象获取行记录值
                }
            });
            //返回数组
            return records;
        }

        $("#btnQueDing").click(function () {
            var records = getCheckedRecords();//调用便利循环选中的check
            var Returns = 0;//声明一个变量
            if (records.length > 0) {
                layer.confirm("是否要变更当前选择的数据？", {
                    icon: 3,
                    btn: ['确定', '取消']
                    //按钮
                }, function (layerIndex) {
                    layer.close(layerIndex);//关闭提示框
                    //循环选中数组
                    for (var i = 0; i < records.length; i++) {
                        //获取选中单元格的值PortID
                        var GoodsID = tabGengGaiZhaungTai.getRecordIndexValue(records[i], 'GoodsID');//变量获取学生ID
                        $.post("/ShangPinGuanLi/LianYinShangPinGuanLi/GoodsXiuGaiBianGeng", { GoodsID: GoodsID }, function (msg) {
                            if (msg == "success") {
                                Returns = Returns + 1;//变量自增
                                if (Returns == records.length) {//选中的行数是否与删除行数对应
                                    tabGengGaiZhaungTai.refreshPage(); //刷新table
                                    layer.alert("变更成功！", { icon: 1, title: "提示" });
                                }
                            }
                            else {
                                layer.alert('变更失败！', { icon: 2, title: '提示' });
                            }
                        });
                    }
                });
            } else {
                layer.alert('请选择需要变更的商品！', { icon: 0, title: '提示' });
            }
        });
    </script>

</body>
</html>
