
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_blue.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>CaoZuoTai</title>
    <style>
        .container {
        width:100%;
        height:760px;
        background-color:#f0edf1;
        }

        .DK {
        width:100%;
        height:500px;
        }

        .ZK {
        width:80%;
        height:498px;
        float:left;
        }

        .YK {
        width:20%;
        height:630px;
        float:left;
        }

        .huiyuankaxinxi {
        width:96%;
        height:100px;
        border:1px solid #cecaca;
        }

        .kaleihao {
        width:96%;
        height:30px;
        }

        .kariqi {
        width:40%;
        height:30px;
        border:1px solid #f0edf1;
        }
       
        .kazhuangtai {
        width:36%;
        height:30px;
        border:1px solid #f0edf1;
        }

        .huiyuanxinxi {
        width:96%;
        height:150px;
        border:1px solid #cecaca;
        }

        .huiyuanhaoma {
        width:56%;
        height:30px;
        }
       
        .riqidizhi {
        width:56%;
        height:30px;
        }
        
        .xinyouzheng {
        width:45%;
        height:30px;
        }

        .beizhuliangxi {
        width:46%;
        height:30px;
        }

        .A {
        float:left;
        }

        .B {
        float:left;
        margin-left:50px;
        }
        .xiaofeijifenghuozong {
        width:96%;
        height:95px;
        border:1px solid #cecaca;
        }
        .keyonfanhuan {
        width:96%;
        height:30px;
        }
        .xiaofeijinE {
        width:36%;
        height:30px;
        border:1px solid #f0edf1;
        }
        .leijixiaofei {
        width:36%;
        height:30px;
        border:1px solid #f0edf1;
        }
        .zhanghujinE {
        width:96%;
        height:30px;
        border:1px solid #cecaca;
        }
        .jinEzhanghu {
        width:96%;
        height:65px;
        border:1px solid #cecaca;
        }
        .miangzhiyuE {
        width:96%;
        height:30px;
        }
        .pudijinE {
        width:26%;
        height:30px;
        border:1px solid #f0edf1;
        margin-left:25px;
        }
        .anjian {
        text-align:center;
        margin-top:10px;
        margin-left:50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                会 员 卡 综 合 操 作
            </div>
        </div> 
        <div class="DK">
            <div class="ZK">
                <div>会员卡信息</div>
                <div class="huiyuankaxinxi">
                    <div class="kaleihao">
                        <div class="A"style="margin-left:33px">
                            卡 类 型 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                九折卡
                            </a>
                        </div>
                        <div class="B"style="margin-left:76px">
                            卡 号 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                200605041408
                            </a>
                        </div>
                    </div>
                    <div class="kariqi">
                        <div class="A"style="margin-left:33px">
                            有 效 期 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                2007.05.15                            </a>
                        </div>
                        <div class="B"style="margin-left:23px">
                            建卡日期 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                2006.05.15
                            </a>
                        </div>
                    </div>
                    <div class="kazhuangtai"style="margin-left:29px">
                        卡 状 态 :
                        <a class="btn btn-link" href="#">
                            <i class="icon-plus-sign bigger-120 green"></i>
                            发售卡
                        </a>
                    </div>
                </div>
                <div style="width:20%">会员信息</div>
                <div class="huiyuanxinxi">
                    <div class="huiyuanhaoma">
                        <div class="A"style="margin-left:27px">
                            会员姓名 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                小强
                            </a>
                        </div>
                        <div class="B"style="margin-left:65px">
                            证件号码 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                440924829934634453
                            </a>
                        </div>
                    </div>
                    <div class="riqidizhi"style="margin-left:27px">
                        <div class="A">
                            出生日期 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                1995.03.13
                            </a>
                        </div>
                        <div class="B"style="margin-left:23px">
                            通讯地址 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                0
                            </a>
                        </div>
                    </div>
                    <div class="xinyouzheng">
                        <div class="A"style="margin-left:55px">
                            性别 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                男
                            </a>
                        </div>
                        <div class="B"style="margin-left:79px">
                            邮政编码 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                342524
                            </a>
                        </div>
                    </div>
                    <div class="beizhuliangxi">
                        <div class="A"style="margin-left:55px">
                            备注 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                12345
                            </a>
                        </div>
                        <div class="B"style="margin-left:58px">
                            联系电话: 
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                13426754678
                            </a>
                        </div>
                    </div>
                </div>
                <div>消费积分汇总</div>
                <div class="xiaofeijifenghuozong">
                    <div class="keyonfanhuan">
                        <div class="A"style="margin-left:27px">
                            可用积分 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                0
                            </a>
                        </div>
                        <div class="B"style="margin-left:65px">
                            已返还积分 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                0
                            </a>
                        </div>
                    </div>
                    <div class="xiaofeijinE">
                        <div class="A"style="margin-left:27px">
                            消费金额 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                0
                            </a>
                        </div>
                        <div class="B">
                            累计消费金额 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                0
                            </a>
                        </div>
                    </div>
                    <div class="leijixiaofei">
                        <div class="A"style="margin-left:27px">
                            消费折扣 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                0
                            </a>
                        </div>
                        <div class="B">
                            累计折扣金额 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                0
                            </a>
                        </div>
                    </div>
                </div>
                <div style="width:30%">优惠劵账户</div>
                <div class="zhanghujinE">
                    <div class="A">
                        账户可用金额 :
                        <a class="btn btn-link" href="#">
                            <i class="icon-plus-sign bigger-120 green"></i>
                            0
                        </a>
                    </div>
                    <div class="B">
                        最早结束日期 :
                        <a class="btn btn-link" href="#">
                            <i class="icon-plus-sign bigger-120 green"></i>
                            2016.11.12
                        </a>
                    </div>
                </div>
                <div style="width:30%">金额账户</div>
                <div class="jinEzhanghu">
                    <div class="miangzhiyuE">
                        <div class="A"style="margin-left:27px">
                            面值金额 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                0
                            </a>
                        </div>
                        <div class="B"style="margin-left:107px">
                            余额 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                0
                            </a>
                        </div>
                    </div>
                    <div class="pudijinE">
                        <div class="c"style="width:100%">
                            铺底金额 :
                            <a class="btn btn-link" href="#">
                                <i class="icon-plus-sign bigger-120 green"></i>
                                0
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="YK">
            <div class="anjian">
                <div>
                    <button class="col-lg-9">A 刷 卡</button> 
                </div>
                <div>
                    <button class="col-lg-9">B 查 询 卡</button>
                </div>
                <div>
                    <button class="col-lg-9"style="color:gainsboro">C 积分消费明细</button>
                </div>
                <div>
                    <button class="col-lg-9" style="color:gainsboro">D 优惠劵账户明细</button>
                </div>
                <div>
                    <button class="col-lg-9" style="color:gainsboro">E 金额账处理明细</button>
                </div>
                <div>
                    <button class="col-lg-9">会员卡积分调整明细</button>
                </div>
                <div>
                    <button class="col-lg-9" style="color:gainsboro">代发劵记录明细</button>
                </div>
                <div>
                    <button class="col-lg-9" style="color:gainsboro">发劵记录明细</button>
                </div>
                <div>
                    <button class="col-lg-9">单张小票返券</button>
                </div>
                <div>
                    <button class="col-lg-9" style="color:gainsboro">促销活动退货明细</button>
                </div>
                <div>
                    <button class="col-lg-9">F 维护档案信息</button>
                </div>
                <div>
                    <button class="col-lg-9"id="GuaShi">G  挂 失</button>
                </div>
                <div>
                    <button class="col-lg-9" style="color:gainsboro">H 挂失恢复</button>
                </div>
                <div>
                    <button class="col-lg-9" id="HuangKa">I  换 卡</button>
                </div>
                <div>
                    <button class="col-lg-9" id="HuiYuanKaZuoFei">J 会员卡作废</button>
                </div>
                <div>
                    <button class="col-lg-9"id="HuiYuanKaYouXiaoQiGuanLi">K 有效期更改</button>
                </div>
                <div>
                    <button class="col-lg-9">L 积分返利</button>
                </div>
                <div>
                    <button class="col-lg-9" style="color:gainsboro">S 优惠劵账户转储</button>
                </div>
                <div>
                    <button class="col-lg-9">T 状态变动</button>
                </div>
                <div>
                    <button class="col-lg-9">会员卡积分调整</button>
                </div>
                <div>
                    <button class="col-lg-9">会员卡交易处理明细</button>
                </div>
                <div>
                    <button class="col-lg-9">会员卡制卡信息</button>
                </div>
                <div>
                    <button class="col-lg-9">X  退 出</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <script src="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script>
        $(function () {
            $("#HuangKa").click(function () {
                window.location.href = "/HuiYuanKaHuangKaGuanLi/HuiYuanKaHuanKa/HuangKa";
            });
        });
        $(function () {
            $("#GuaShi").click(function () {
                window.location.href = "/HuiYuanKaGuaShi/HuiYuanKaGuaShiChuLi/GuaShi";
            });
        }); 
        $(function () {
            $("#HuiYuanKaZuoFei").click(function () {
                window.location.href = "/HuiYuanKaZuoFeiGuanLi/HuiYuanKaZuoFei/KaZuoFei";
            });
        });
        $(function () {
            $("#HuiYuanKaYouXiaoQiGuanLi").click(function () {
                window.location.href = "/HuiYuanKaXinXiGuanLi/HuiYuanKaYouXiaoQiGengGai/YouXiaoQiGengGai";
            });
        });
    </script>
</body>
</html>
